# Data Collection

In [98]:
import pandas as pd

---

### Results DF

In [99]:
results = pd.read_csv('./data/results.csv')
results.head()
# data from kaggle:  https://www.kaggle.com/martj42/international-football-results-from-1872-to-2017?select=results.csv

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4.0,2.0,Friendly,London,England,False
2,1874-03-07,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2.0,2.0,Friendly,London,England,False
4,1876-03-04,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False

In [100]:
results.shape

(43045, 9)

In [101]:
results[results['date'] < '1992-12-31'].shape  # <- 1st date of FIFA rankings

(17489, 9)

In [102]:
results.drop(results[results['date'] < '1992-12-31'].index, inplace=True)

In [103]:
results.shape

(25556, 9)

In [104]:
results.reset_index(inplace=True)

In [105]:
results.drop(columns='index', inplace=True)
results.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1993-01-01,Ghana,Mali,1.0,1.0,Friendly,Libreville,Gabon,True
1,1993-01-02,Gabon,Burkina Faso,1.0,1.0,Friendly,Libreville,Gabon,False
2,1993-01-02,Kuwait,Lebanon,2.0,0.0,Friendly,Kuwait City,Kuwait,False
3,1993-01-03,Burkina Faso,Mali,1.0,0.0,Friendly,Libreville,Gabon,True
4,1993-01-03,Gabon,Ghana,2.0,3.0,Friendly,Libreville,Gabon,False

---

### Upcoming Fixtures DF

In [106]:
qualifying_fixtures = pd.read_csv('./data/concacaf_wcq_fixtures.csv')
qualifying_fixtures.tail()
# data from FIFA site:  https://www.fifa.com/tournaments/mens/worldcup/qatar2022/qualifiers/concacaf

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
54,2022-03-29,Panama,Canada,NaN,NaN,FIFA World Cup qualification,NaN,NaN,NaN
55,2022-03-29,Costa Rica,United States,NaN,NaN,FIFA World Cup qualification,NaN,NaN,NaN
56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [107]:
qualifying_fixtures[qualifying_fixtures['date'].isnull()]

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [108]:
qualifying_fixtures.drop(index=qualifying_fixtures[qualifying_fixtures['date'].isnull()].index, inplace=True)

---

### Current Table DF

In [109]:
table = pd.read_csv('./data/current_table_12.14.2021.csv')
table
# data from FIFA site:  https://www.fifa.com/tournaments/mens/worldcup/qatar2022/qualifiers/concacaf

,rank,team_name,matches_played,wins,draws,losses,goals_for,goals_against,goal_differential,points
0,1,Canada,8,4,4,0,13,5,8,16
1,2,USA,8,4,3,1,12,5,7,15
2,3,Mexico,8,4,2,2,11,7,4,14
3,4,Panama,8,4,2,2,11,9,2,14
4,5,Costa Rica,8,2,3,3,6,7,-1,9
5,6,Jamaica,8,1,4,3,6,10,-4,7
6,7,El Salvador,8,1,3,4,4,10,-6,6
7,8,Honduras,8,0,3,5,5,15,-10,3

---

### World Rankings DF

In [110]:
past_rankings = pd.read_csv('./data/fifa_ranking-2021-05-27.csv')
past_rankings.head()
# data from kaggle:  https://www.kaggle.com/cashncarry/fifaworldranking

,id,rank,country_full,country_abrv,total_points,previous_points,rank_change,confederation,rank_date
0,43818,82,Iraq,IRQ,15,0,0,AFC,12/31/1992
1,43873,107,Mozambique,MOZ,9,0,0,CAF,12/31/1992
2,43816,108,Indonesia,IDN,9,0,0,AFC,12/31/1992
3,1882218,109,Antigua and Barbuda,ATG,8,0,0,CONCACAF,12/31/1992
4,43820,110,Jordan,JOR,8,0,0,AFC,12/31/1992

In [111]:
past_rankings = past_rankings[['rank', 'country_full', 'rank_date']]
past_rankings.head()

   rank         country_full   rank_date
0    82                 Iraq  12/31/1992
1   107           Mozambique  12/31/1992
2   108            Indonesia  12/31/1992
3   109  Antigua and Barbuda  12/31/1992
4   110               Jordan  12/31/1992

In [112]:
past_rankings.shape

(63055, 3)

In [113]:
recent_rankings = pd.read_csv('./data/fifa_ranking_2021-11-19.csv')
recent_rankings.head()
# data from FIFA:  https://www.fifa.com/fifa-world-ranking/

   rank country_full   rank_date
0   1.0      Belgium  2021-08-12
1   2.0       Brazil  2021-08-12
2   3.0       France  2021-08-12
3   4.0      England  2021-08-12
4   5.0        Italy  2021-08-12

In [114]:
recent_rankings.shape

(1678, 3)

In [115]:
rankings = pd.concat([past_rankings, recent_rankings])
rankings.shape

(64733, 3)

---

### Combining and Cleaning the Data

In [116]:
rankings.dropna(inplace=True)

In [117]:
results['home_rank'] = 0

In [118]:
results['away_rank'] = 0

In [119]:
results['datetime'] = pd.to_datetime(results['date'])
rankings['datetime'] = pd.to_datetime(rankings['rank_date'])

In [120]:
results.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,home_rank,away_rank,datetime
0,1993-01-01,Ghana,Mali,1.0,1.0,Friendly,Libreville,Gabon,True,0,0,1993-01-01
1,1993-01-02,Gabon,Burkina Faso,1.0,1.0,Friendly,Libreville,Gabon,False,0,0,1993-01-02
2,1993-01-02,Kuwait,Lebanon,2.0,0.0,Friendly,Kuwait City,Kuwait,False,0,0,1993-01-02
3,1993-01-03,Burkina Faso,Mali,1.0,0.0,Friendly,Libreville,Gabon,True,0,0,1993-01-03
4,1993-01-03,Gabon,Ghana,2.0,3.0,Friendly,Libreville,Gabon,False,0,0,1993-01-03

In [121]:
results.shape

(25556, 12)

In [138]:
results.drop(results[(results['home_team'] == 'United Arab Emirates') & (results['datetime'] < '1993-08-08 00:00:00')].index, inplace=True)
# dropping 8 rows of games for UAE because they do not have a rank prior to 1993-08-08 in the dataframe

results.drop(results[(results['home_team'] == 'Netherlands') & (results['datetime'] < '1993-08-08 00:00:00')].index, inplace=True)
# dropping 3 rows of games for Netherlands because they do not have a rank prior to 1993-08-08 in the dataframe

results.drop(results[results['home_team'] == 'Martinique'].index, inplace=True)
# Martinique is not a member of FIFA and therefore will have no rankings

results.drop(results[(results['home_team'] == 'Guyana') & (results['datetime'] < '1993-08-08 00:00:00')].index, inplace=True)
# dropping 3 rows of games for Guyana because they do not have a rank prior to 1993-08-08 in the dataframe

results.drop(results[(results['home_team'] == 'Cayman Islands') & (results['datetime'] < '1993-08-08 00:00:00')].index, inplace=True)
# dropping 1 row of games for Cayman Islands because they do not have a rank prior to 1993-08-08 in the dataframe

results.drop(results[results['home_team'] == 'French Guiana'].index, inplace=True)
# French Guiana is not a member of FIFA and therefore will have no rankings

results.drop(results[(results['home_team'] == 'Slovakia') & (results['datetime'] < '1993-11-19 00:00:00')].index, inplace=True)
# dropping 2 rows of games for Slovakia because they do not have a rank prior to 1993-11-19 in the dataframe

results.drop(results[(results['home_team'] == 'Thailand') & (results['datetime'] < '1993-08-08 00:00:00')].index, inplace=True)
# dropping 5 rows of games for Thailand because they do not have a rank prior to 1993-08-08 in the dataframe

results.drop(results[(results['home_team'] == 'Anguilla') & (results['datetime'] < '1997-05-14 00:00:00')].index, inplace=True)
# dropping 3 rows of games for Angiulla because they do not have a rank prior to 1997-05-14 in the dataframe

results.drop(results[(results['home_team'] == 'Sri Lanka') & (results['datetime'] < '1993-08-08 00:00:00')].index, inplace=True)
# dropping 4 rows of games for Sri Lanka because they do not have a rank prior to 1993-08-08 in the dataframe

results.drop(results[(results['home_team'] == 'Vietnam') & (results['datetime'] < '1993-08-08 00:00:00')].index, inplace=True)
# dropping 4 rows of games for Vietnam because they do not have a rank prior to 1993-08-08 in the dataframe

results.drop(results[results['home_team'] == 'Guadeloupe'].index, inplace=True)
# Guadeloupe is not a member of FIFA and therefore will have no rankings

results.drop(results[(results['home_team'] == 'Latvia') & (results['datetime'] < '1993-08-08 00:00:00')].index, inplace=True)
# dropping 5 rows of games for Latvia because they do not have a rank prior to 1993-08-08 in the dataframe

results.drop(results[(results['home_team'] == 'Dominica') & (results['datetime'] < '1995-02-20 00:00:00')].index, inplace=True)
# dropping 3 rows of games for Dominica because they do not have a rank prior to 1995-02-20 in the dataframe

results.drop(results[(results['home_team'] == 'Czech Republic') & (results['datetime'] < '1994-03-15 00:00:00')].index, inplace=True)
# dropping 3 rows of games for Czech Republic because they do not have a rank prior to 1994-03-15 in the dataframe

results.drop(results[(results['home_team'] == 'Macau') & (results['datetime'] < '1993-08-08 00:00:00')].index, inplace=True)
# dropping 3 rows of games for Macau because they do not have a rank prior to 1993-08-08 in the dataframe

results.drop(results[results['home_team'] == 'Guernsey'].index, inplace=True)
# Guernsey is not a member of FIFA and therefore will have no rankings

results.drop(results[(results['home_team'] == 'Azerbaijan') & (results['datetime'] < '1994-06-14 00:00:00')].index, inplace=True)
# dropping 3 rows of games for Azerbaijan because they do not have a rank prior to 1994-06-14 in the dataframe

results.drop(results[(results['home_team'] == 'Turkmenistan') & (results['datetime'] < '1994-10-25 00:00:00')].index, inplace=True)
# dropping 1 row of games for Turkmenistan because they do not have a rank prior to 1994-10-25 in the dataframe

results.drop(results[(results['home_team'] == 'Bahrain') & (results['datetime'] < '1993-08-08 00:00:00')].index, inplace=True)
# dropping 4 rows of games for Bahrain because they do not have a rank prior to 1993-08-08 in the dataframe

results.drop(results[(results['home_team'] == 'Algeria') & (results['datetime'] < '1993-08-08 00:00:00')].index, inplace=True)
# dropping 4 rows of games for Algeria because they do not have a rank prior to 1993-08-08 in the dataframe

results.drop(results[(results['home_team'] == 'Gibraltar') & (results['datetime'] < '2016-09-15 00:00:00')].index, inplace=True)
# dropping 42 rows of games for Gibraltar because they weren't included in FIFA rankings until 2016-09-15

results.drop(results[results['home_team'] == 'Ynys Môn'].index, inplace=True)
# Ynys Môn is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'] == 'Isle of Wight'].index, inplace=True)
# Isle of Wight is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'] == 'Åland Islands'].index, inplace=True)
# Åland Islands is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'] == 'Jersey'].index, inplace=True)
# Jersey is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'] == 'Isle of Man'].index, inplace=True)
# Isle of Man is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'] == 'Greenland'].index, inplace=True)
# Greenland is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'] == 'Shetland'].index, inplace=True)
# Shetland is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'] == 'Basque Country'].index, inplace=True)
# Basque Country is not a member of FIFA and therefore will have no rankings

results.drop(results[(results['home_team'] == 'Georgia') & (results['datetime'] < '1994-03-15 00:00:00')].index, inplace=True)
# dropping 2 rows of games for Georgia because they do not have a rank prior to 1994-03-15 in the dataframe

results.drop(results[results['home_team'] == 'Sint Maarten'].index, inplace=True)
# Sint Maarten is not a member of FIFA and therefore will have no rankings

results.drop(results[(results['home_team'] == 'North Macedonia') & (results['datetime'] < '1994-05-17 00:00:00')].index, inplace=True)
# dropping 4 rows of games for North Macedonia because they do not have a rank prior to 1994-05-17 in the dataframe

results.drop(results[(results['home_team'] == 'Kazakhstan') & (results['datetime'] < '1994-11-22 00:00:00')].index, inplace=True)
# dropping 2 rows of games for Kazakhstan because they do not have a rank prior to 1994-11-22 in the dataframe

results.drop(results[(results['home_team'] == 'Uzbekistan') & (results['datetime'] < '1994-10-25 00:00:00')].index, inplace=True)
# dropping 4 rows of games for Uzbekistan because they do not have a rank prior to 1994-10-25 in the dataframe

results.drop(results[(results['home_team'] == 'Tajikistan') & (results['datetime'] < '1994-11-22 00:00:00')].index, inplace=True)
# dropping 1 row of games for Tajikistan because they do not have a rank prior to 1994-11-22 in the dataframe

results.drop(results[(results['home_team'] == 'Papua New Guinea') & (results['datetime'] < '1996-09-25 00:00:00')].index, inplace=True)
# dropping 5 rows of games for Papua New Guinea because they do not have a rank prior to 1996-09-25 in the dataframe

results.drop(results[(results['home_team'] == 'Samoa') & (results['datetime'] < '1996-11-20 00:00:00')].index, inplace=True)
# dropping 4 rows of games for Samoa because they do not have a rank prior to 1996-11-20 in the dataframe

results.drop(results[(results['home_team'] == 'Tonga') & (results['datetime'] < '1996-11-20 00:00:00')].index, inplace=True)
# dropping 3 rows of games for Tonga because they do not have a rank prior to 1996-11-20 in the dataframe

results.drop(results[(results['home_team'] == 'Montserrat') & (results['datetime'] < '1999-03-24 00:00:00')].index, inplace=True)
# dropping 1 row of games for Montserrat because they do not have a rank prior to 1999-03-24 in the dataframe

results.drop(results[(results['home_team'] == 'Montenegro') & (results['datetime'] < '2007-06-13 00:00:00')].index, inplace=True)
# dropping 1 row of games for Montenegro because they do not have a rank prior to 2007-06-13 in the dataframe

results.drop(results[(results['home_team'] == 'Serbia and Montenegro') & (results['datetime'] < '2002-12-18 00:00:00')].index, inplace=True)
results.drop(results[(results['home_team'] == 'Serbia and Montenegro') & (results['datetime'] < '2002-12-18 00:00:00')].index, inplace=True)
# dropping 32 rows of games for Serbia and Montenegro because they weren't included in FIFA rankings until 2002-12-18

results.drop(results[(results['home_team'] == 'Curaçao') & (results['datetime'] < '2007-06-13 00:00:00')].index, inplace=True)
# dropping 19 rows of games for Curaçao because they weren't included in FIFA rankings until 2007-06-13

results.drop(results[(results['home_team'] == 'Cook Islands') & (results['datetime'] < '1996-11-20 00:00:00')].index, inplace=True)
# dropping 3 rows of games for Cook Islands because they do not have a rank prior to 1996-11-20 in the dataframe

results.drop(results[(results['home_team'] == 'Guam') & (results['datetime'] < '1996-08-28 00:00:00')].index, inplace=True)
# dropping 2 rows of games for Guam because they do not have a rank prior to 1996-08-28 in the dataframe

results.drop(results[(results['home_team'] == 'New Caledonia') & (results['datetime'] < '2004-06-09 00:00:00')].index, inplace=True)
# dropping 12 rows of games for New Caledonia because they weren't included in FIFA rankings until 2004-06-09

results.drop(results[(results['home_team'] == 'Dominican Republic') & (results['datetime'] < '1993-08-08 00:00:00')].index, inplace=True)
# dropping 1 row of games for Dominican Republic because they do not have a rank prior to 1993-08-08 in the dataframe

results.drop(results[results['home_team'].str.contains('Zanzibar')].index, inplace=True)
# Zanzibar is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'].str.contains('Canary Islands')].index, inplace=True)
# Canary Islands is not a member of FIFA and therefore will have no rankings

results.drop(results[(results['home_team'] == 'Bosnia and Herzegovina') & (results['datetime'] < '1996-05-22 00:00:00')].index, inplace=True)
# dropping 1 row of games for Bosnia and Herzegovina because they do not have a rank prior to 1996-05-22 in the dataframe

results.drop(results[(results['home_team'] == 'Andorra') & (results['datetime'] < '1996-11-20 00:00:00')].index, inplace=True)
# dropping 1 row of games for Andorra because they do not have a rank prior to 1996-11-20 in the dataframe

results.drop(results[(results['home_team'] == 'British Virgin Islands') & (results['datetime'] < '1997-05-14 00:00:00')].index, inplace=True)
# dropping 1 row of games for British Virgin Islands because they do not have a rank prior to 1997-05-14 in the dataframe

results.drop(results[(results['home_team'] == 'Palestine') & (results['datetime'] < '1998-12-23 00:00:00')].index, inplace=True)
# dropping 2 rows of games for Palestine because they do not have a rank prior to 1998-12-23 in the dataframe

results.drop(results[results['home_team'].str.contains('Frøya')].index, inplace=True)
# Frøya is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'].str.contains('Hitra')].index, inplace=True)
# Hitra is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'].str.contains('Catalonia')].index, inplace=True)
# Catalonia is not a member of FIFA and therefore will have no rankings

results.drop(results[(results['home_team'] == 'US Virgin Islands') & (results['datetime'] < '1999-03-24 00:00:00')].index, inplace=True)
# dropping 2 rows of games for US Virgin Islands because they do not have a rank prior to 1999-03-24 in the dataframe

results.drop(results[results['home_team'].str.contains('Corsica')].index, inplace=True)
# Corsica is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'].str.contains('Brittany')].index, inplace=True)
# Brittany is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'].str.contains('Palau')].index, inplace=True)
# Palau is not a member of FIFA and therefore will have no rankings

results.drop(results[(results['home_team'] == 'São Tomé and Príncipe') & (results['datetime'] < '1998-08-19 00:00:00')].index, inplace=True)
# dropping 1 row of games for São Tomé and Príncipe because they do not have a rank prior to 1998-08-19 in the dataframe

results.drop(results[results['home_team'].str.contains('Gotland')].index, inplace=True)
# Gotland is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'].str.contains('Saare County')].index, inplace=True)
# Saare County is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'].str.contains('Rhodes')].index, inplace=True)
# Rhodes is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'].str.contains('Micronesia')].index, inplace=True)
# Micronesia is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'].str.contains('Andalusia')].index, inplace=True)
# Andalusia is not a member of FIFA and therefore will have no rankings

results.drop(results[(results['home_team'] == 'Bhutan') & (results['datetime'] < '2000-08-09 00:00:00')].index, inplace=True)
# dropping 1 row of games for Bhutan because they do not have a rank prior to 2000-08-09 in the dataframe

results.drop(results[results['home_team'].str.contains('Kernow')].index, inplace=True)
# Kernow is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'].str.contains('Saint Martin')].index, inplace=True)
# Saint Martin is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'].str.contains('Orkney')].index, inplace=True)
# Orkney is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'].str.contains('Monaco')].index, inplace=True)
# Monaco is not a member of FIFA and therefore will have no rankings

results.drop(results[(results['home_team'] == 'Afghanistan') & (results['datetime'] < '2003-01-15 00:00:00')].index, inplace=True)
# dropping 2 rows of games for Afghanistan because they do not have a rank prior to 2003-01-15 in the dataframe

results.drop(results[results['home_team'].str.contains('Tuvalu')].index, inplace=True)
# Tuvalu is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'].str.contains('Sark')].index, inplace=True)
# Sark is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'].str.contains('Alderney')].index, inplace=True)
# Alderney is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'].str.contains('Kiribati')].index, inplace=True)
# Kiribati is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'].str.contains('Mayotte')].index, inplace=True)
# Mayotte is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'].str.contains('Western Isles')].index, inplace=True)
# Western Isles is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'].str.contains('Falkland Islands')].index, inplace=True)
# Falkland Islands is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'].str.contains('Réunion')].index, inplace=True)
# Réunion is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'].str.contains('Galicia')].index, inplace=True)
# Galicia is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'].str.contains('Northern Cyprus')].index, inplace=True)
# Northern Cyprus is not a member of FIFA and therefore will have no rankings

results.drop(results[(results['home_team'] == 'Kosovo') & (results['datetime'] < '2016-07-14 00:00:00')].index, inplace=True)
# dropping 7 rows of games for Kosovo because they do not have a rank prior to 2016-07-14 in the dataframe

results.drop(results[results['home_team'].str.contains('Republic of St. Pauli')].index, inplace=True)
# Republic of St. Pauli is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'].str.contains('Găgăuzia')].index, inplace=True)
# Găgăuzia is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'].str.contains('Tibet')].index, inplace=True)
# Tibet is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'].str.contains('Occitania')].index, inplace=True)
# Occitania is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'].str.contains('Sápmi')].index, inplace=True)
# Sápmi is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'].str.contains('Silesia')].index, inplace=True)
# Silesia is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'].str.contains('Northern Mariana Islands')].index, inplace=True)
# Northern Mariana Islands is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'].str.contains('Menorca')].index, inplace=True)
# Menorca is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'].str.contains('Provence')].index, inplace=True)
# Provence is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'].str.contains('Arameans Suryoye')].index, inplace=True)
# Arameans Suryoye is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'].str.contains('Padania')].index, inplace=True)
# Padania is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'].str.contains('Iraqi Kurdistan')].index, inplace=True)
# Iraqi Kurdistan is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'].str.contains('Gozo')].index, inplace=True)
# Gozo is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'].str.contains('Bonaire')].index, inplace=True)
# Bonaire is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'].str.contains('Western Sahara')].index, inplace=True)
# Western Sahara is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'].str.contains('Raetia')].index, inplace=True)
# Raetia is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'].str.contains('Darfur')].index, inplace=True)
# Darfur is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'].str.contains('Tamil Eelam')].index, inplace=True)
# Tamil Eelam is not a member of FIFA and therefore will have no rankings

results.drop(results[(results['home_team'] == 'South Sudan') & (results['datetime'] < '2012-08-08 00:00:00')].index, inplace=True)
# dropping 1 row of games for South Sudan because they do not have a rank prior to 2012-08-08 in the dataframe

results.drop(results[results['home_team'].str.contains('Abkhazia')].index, inplace=True)
# Abkhazia is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'].str.contains('Saint Pierre and Miquelon')].index, inplace=True)
# Saint Pierre and Miquelon is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'].str.contains('Artsakh')].index, inplace=True)
# Artsakh is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'].str.contains('Madrid')].index, inplace=True)
# Madrid is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'].str.contains('Vatican City')].index, inplace=True)
# Vatican City is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'].str.contains('Ellan Vannin')].index, inplace=True)
# Ellan Vannin is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'].str.contains('South Ossetia')].index, inplace=True)
# South Ossetia is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'].str.contains('County of Nice')].index, inplace=True)
# County of Nice is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'].str.contains('Székely Land')].index, inplace=True)
# Székely Land is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'].str.contains('Romani people')].index, inplace=True)
# Romani people is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'].str.contains('Felvidék')].index, inplace=True)
# Felvidék is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'].str.contains('Chagos Islands')].index, inplace=True)
# Chagos Islands is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'].str.contains('United Koreans in Japan')].index, inplace=True)
# United Koreans in Japan is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'].str.contains('Somaliland')].index, inplace=True)
# Somaliland is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'].str.contains('Western Armenia')].index, inplace=True)
# Western Armenia is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'].str.contains('Barawa')].index, inplace=True)
# Barawa is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'].str.contains('Kárpátalja')].index, inplace=True)
# Kárpátalja is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'].str.contains('Yorkshire')].index, inplace=True)
# Yorkshire is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'].str.contains('Panjab')].index, inplace=True)
# Panjab is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'].str.contains('Cascadia')].index, inplace=True)
# Cascadia is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'].str.contains('Matabeleland')].index, inplace=True)
# Matabeleland is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'].str.contains('Kabylia')].index, inplace=True)
# Kabylia is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'].str.contains('Parishes of Jersey')].index, inplace=True)
# Parishes of Jersey is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'].str.contains('Saint Helena')].index, inplace=True)
# Saint Helena is not a member of FIFA and therefore will have no rankings

results.drop(results[results['home_team'].str.contains('Chameria')].index, inplace=True)
# Chameria is not a member of FIFA and therefore will have no rankings

In [139]:
# Ensuring country name matches in rankings and results dataframes

rankings.loc[rankings[rankings['country_full'].str.contains('Congo')].index, 'country_full'] = 'Congo'
results.loc[results[results['home_team'].str.contains('Congo')].index, 'home_team'] = 'Congo'
results.loc[results[results['away_team'].str.contains('Congo')].index, 'away_team'] = 'Congo'

rankings.loc[rankings[rankings['country_full'].str.contains('Swaziland')].index, 'country_full'] = 'Eswatini'
rankings.loc[rankings[rankings['country_full'].str.contains('Eswatini')].index, 'country_full'] = 'Eswatini'
results.loc[results[results['home_team'].str.contains('Eswatini')].index, 'home_team'] = 'Eswatini'
results.loc[results[results['away_team'].str.contains('Eswatini')].index, 'away_team'] = 'Eswatini'

rankings.loc[rankings[rankings['country_full'].str.contains('Korea DPR')].index, 'country_full'] = 'North Korea'
results.loc[results[results['home_team'].str.contains('North Korea')].index, 'home_team'] = 'North Korea'
results.loc[results[results['away_team'].str.contains('North Korea')].index, 'away_team'] = 'North Korea'

rankings.loc[rankings[rankings['country_full'].str.contains('USA')].index, 'country_full'] = 'United States'
results.loc[results[results['home_team'].str.contains('USA')].index, 'home_team'] = 'United States'
results.loc[results[results['away_team'].str.contains('USA')].index, 'away_team'] = 'United States'

rankings.loc[rankings[rankings['country_full'].str.contains('Ivoire')].index, 'country_full'] = 'Ivory Coast'
results.loc[results[results['home_team'].str.contains('Ivoire')].index, 'home_team'] = 'Ivory Coast'
results.loc[results[results['away_team'].str.contains('Ivoire')].index, 'away_team'] = 'Ivory Coast'

rankings.loc[rankings[rankings['country_full'].str.contains('Kitts and Nevis')].index, 'country_full'] = 'St. Kitts and Nevis'
results.loc[results[results['home_team'].str.contains('Kitts and Nevis')].index, 'home_team'] = 'St. Kitts and Nevis'
results.loc[results[results['away_team'].str.contains('Kitts and Nevis')].index, 'away_team'] = 'St. Kitts and Nevis'

rankings.loc[rankings[rankings['country_full'].str.contains('Korea Republic')].index, 'country_full'] = 'South Korea'
results.loc[results[results['home_team'].str.contains('Korea Republic')].index, 'home_team'] = 'South Korea'
results.loc[results[results['away_team'].str.contains('Korea Republic')].index, 'away_team'] = 'South Korea'

rankings.loc[rankings[rankings['country_full'].str.contains('St. Vin')].index, 'country_full'] = 'St. Vincent and the Grenadines'
results.loc[results[results['home_team'].str.contains('Vincent')].index, 'home_team'] = 'St. Vincent and the Grenadines'
results.loc[results[results['away_team'].str.contains('Vincent')].index, 'away_team'] = 'St. Vincent and the Grenadines'

rankings.loc[rankings[rankings['country_full'].str.contains('Iran')].index, 'country_full'] = 'Iran'
results.loc[results[results['home_team'].str.contains('Iran')].index, 'home_team'] = 'Iran'
results.loc[results[results['away_team'].str.contains('Iran')].index, 'away_team'] = 'Iran'

rankings.loc[rankings[rankings['country_full'].str.contains('Kyrgyz')].index, 'country_full'] = 'Kyrgyzstan'
results.loc[results[results['home_team'].str.contains('Kyrgyz')].index, 'home_team'] = 'Kyrgyzstan'
results.loc[results[results['away_team'].str.contains('Kyrgyz')].index, 'away_team'] = 'Kyrgyzstan'

results.loc[results[(results['home_team'] == 'Serbia') & (results['datetime'] < '2006-07-12 00:00:00')].index, 'home_team'] = 'Serbia and Montenegro'
results.loc[results[(results['away_team'] == 'Serbia') & (results['datetime'] < '2006-07-12 00:00:00')].index, 'away_team'] = 'Serbia and Montenegro'

rankings.loc[rankings[rankings['country_full'].str.contains('Lucia')].index, 'country_full'] = 'St. Lucia'
results.loc[results[results['home_team'].str.contains('Lucia')].index, 'home_team'] = 'St. Lucia'
results.loc[results[results['away_team'].str.contains('Lucia')].index, 'away_team'] = 'St. Lucia'

rankings.loc[rankings[rankings['country_full'].str.contains('Netherlands Antilles')].index, 'country_full'] = 'Curaçao'

rankings.loc[rankings[rankings['country_full'].str.contains('Verde')].index, 'country_full'] = 'Cape Verde'

rankings.loc[rankings[rankings['country_full'].str.contains('Brunei')].index, 'country_full'] = 'Brunei'

results.loc[results[results['home_team'].str.contains('United States Virgin Islands')].index, 'home_team'] = 'US Virgin Islands'
results.loc[results[results['away_team'].str.contains('United States Virgin Islands')].index, 'away_team'] = 'US Virgin Islands'

rankings.loc[rankings[rankings['country_full'].str.contains('Timor-Leste')].index, 'country_full'] = 'East Timor'

results.loc[results[results['home_team'].str.contains('Taiwan')].index, 'home_team'] = 'Chinese Taipei'
results.loc[results[results['away_team'].str.contains('Taiwan')].index, 'away_team'] = 'Chinese Taipei'

results.loc[results[results['home_team'].str.contains('Timor-Leste')].index, 'home_team'] = 'East Timor'
results.loc[results[results['away_team'].str.contains('Timor-Leste')].index, 'away_team'] = 'East Timor'

In [140]:
results_dict = results.to_dict('records')
results_dict[0]

{'date': '1993-01-01',
 'home_team': 'Ghana',
 'away_team': 'Mali',
 'home_score': 1.0,
 'away_score': 1.0,
 'tournament': 'Friendly',
 'city': 'Libreville',
 'country': 'Gabon',
 'neutral': True,
 'home_rank': 39.0,
 'away_rank': 69.0,
 'datetime': Timestamp('1993-01-01 00:00:00')}

In [141]:
rankings_dict = rankings.to_dict('records')
rankings_dict[0:2]

[{'rank': 82.0,
  'country_full': 'Iraq',
  'rank_date': '12/31/1992',
  'datetime': Timestamp('1992-12-31 00:00:00')},
 {'rank': 107.0,
  'country_full': 'Mozambique',
  'rank_date': '12/31/1992',
  'datetime': Timestamp('1992-12-31 00:00:00')}]

In [142]:
def home_rank(row):
    try:
        hometeam = row['home_team']
        matchday = row['datetime']

        hometeam_rankings = []
        for i in rankings_dict:
            if i['country_full'] == hometeam:
                hometeam_rankings.append(i)

        previous_rankings = []
        for i in hometeam_rankings:
            if i['datetime'] <= matchday:
                previous_rankings.append(i)
        # print(hometeam), print(matchday)

        return previous_rankings[-1]['rank']

    except:
        print(hometeam), print(matchday)
        return -1

In [143]:
results['home_rank'] = results.apply(home_rank, axis=1)

In [144]:
results[results['home_rank'] == -1].shape

(0, 12)

In [129]:
results.drop(results[(results['away_team'] == 'United Arab Emirates') & (results['datetime'] < '1993-08-08 00:00:00')].index, inplace=True)
# dropping 8 rows of games for UAE because they do not have a rank prior to 1993-08-08 in the dataframe

results.drop(results[(results['away_team'] == 'Netherlands') & (results['datetime'] < '1993-08-08 00:00:00')].index, inplace=True)
# dropping 3 rows of games for Netherlands because they do not have a rank prior to 1993-08-08 in the dataframe

results.drop(results[results['away_team'] == 'Martinique'].index, inplace=True)
# Martinique is not a member of FIFA and therefore will have no rankings

results.drop(results[(results['away_team'] == 'Guyana') & (results['datetime'] < '1993-08-08 00:00:00')].index, inplace=True)
# dropping 3 rows of games for Guyana because they do not have a rank prior to 1993-08-08 in the dataframe

results.drop(results[(results['away_team'] == 'Cayman Islands') & (results['datetime'] < '1993-08-08 00:00:00')].index, inplace=True)
# dropping 1 row of games for Cayman Islands because they do not have a rank prior to 1993-08-08 in the dataframe

results.drop(results[results['away_team'] == 'French Guiana'].index, inplace=True)
# French Guiana is not a member of FIFA and therefore will have no rankings

results.drop(results[(results['away_team'] == 'Slovakia') & (results['datetime'] < '1993-11-19 00:00:00')].index, inplace=True)
# dropping 2 rows of games for Slovakia because they do not have a rank prior to 1993-11-19 in the dataframe

results.drop(results[(results['away_team'] == 'Thailand') & (results['datetime'] < '1993-08-08 00:00:00')].index, inplace=True)
# dropping 5 rows of games for Thailand because they do not have a rank prior to 1993-08-08 in the dataframe

results.drop(results[(results['away_team'] == 'Anguilla') & (results['datetime'] < '1997-05-14 00:00:00')].index, inplace=True)
# dropping 3 rows of games for Angiulla because they do not have a rank prior to 1997-05-14 in the dataframe

results.drop(results[(results['away_team'] == 'Sri Lanka') & (results['datetime'] < '1993-08-08 00:00:00')].index, inplace=True)
# dropping 4 rows of games for Sri Lanka because they do not have a rank prior to 1993-08-08 in the dataframe

results.drop(results[(results['away_team'] == 'Vietnam') & (results['datetime'] < '1993-08-08 00:00:00')].index, inplace=True)
# dropping 4 rows of games for Vietnam because they do not have a rank prior to 1993-08-08 in the dataframe

results.drop(results[results['away_team'] == 'Guadeloupe'].index, inplace=True)
# Guadeloupe is not a member of FIFA and therefore will have no rankings

results.drop(results[(results['away_team'] == 'Latvia') & (results['datetime'] < '1993-08-08 00:00:00')].index, inplace=True)
# dropping 5 rows of games for Latvia because they do not have a rank prior to 1993-08-08 in the dataframe

results.drop(results[(results['away_team'] == 'Dominica') & (results['datetime'] < '1995-02-20 00:00:00')].index, inplace=True)
# dropping 3 rows of games for Dominica because they do not have a rank prior to 1995-02-20 in the dataframe

results.drop(results[(results['away_team'] == 'Czech Republic') & (results['datetime'] < '1994-03-15 00:00:00')].index, inplace=True)
# dropping 3 rows of games for Czech Republic because they do not have a rank prior to 1994-03-15 in the dataframe

results.drop(results[(results['away_team'] == 'Macau') & (results['datetime'] < '1993-08-08 00:00:00')].index, inplace=True)
# dropping 3 rows of games for Macau because they do not have a rank prior to 1993-08-08 in the dataframe

results.drop(results[results['away_team'] == 'Guernsey'].index, inplace=True)
# Guernsey is not a member of FIFA and therefore will have no rankings

results.drop(results[(results['away_team'] == 'Azerbaijan') & (results['datetime'] < '1994-06-14 00:00:00')].index, inplace=True)
# dropping 3 rows of games for Azerbaijan because they do not have a rank prior to 1994-06-14 in the dataframe

results.drop(results[(results['away_team'] == 'Turkmenistan') & (results['datetime'] < '1994-10-25 00:00:00')].index, inplace=True)
# dropping 1 row of games for Turkmenistan because they do not have a rank prior to 1994-10-25 in the dataframe

results.drop(results[(results['away_team'] == 'Bahrain') & (results['datetime'] < '1993-08-08 00:00:00')].index, inplace=True)
# dropping 4 rows of games for Bahrain because they do not have a rank prior to 1993-08-08 in the dataframe

results.drop(results[(results['away_team'] == 'Algeria') & (results['datetime'] < '1993-08-08 00:00:00')].index, inplace=True)
# dropping 4 rows of games for Algeria because they do not have a rank prior to 1993-08-08 in the dataframe

results.drop(results[(results['away_team'] == 'Gibraltar') & (results['datetime'] < '2016-09-15 00:00:00')].index, inplace=True)
# dropping 42 rows of games for Gibraltar because they weren't included in FIFA rankings until 2016-09-15

results.drop(results[results['away_team'] == 'Ynys Môn'].index, inplace=True)
# Ynys Môn is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'] == 'Isle of Wight'].index, inplace=True)
# Isle of Wight is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'] == 'Åland Islands'].index, inplace=True)
# Åland Islands is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'] == 'Jersey'].index, inplace=True)
# Jersey is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'] == 'Isle of Man'].index, inplace=True)
# Isle of Man is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'] == 'Greenland'].index, inplace=True)
# Greenland is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'] == 'Shetland'].index, inplace=True)
# Shetland is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'] == 'Basque Country'].index, inplace=True)
# Basque Country is not a member of FIFA and therefore will have no rankings

results.drop(results[(results['away_team'] == 'Georgia') & (results['datetime'] < '1994-03-15 00:00:00')].index, inplace=True)
# dropping 2 rows of games for Georgia because they do not have a rank prior to 1994-03-15 in the dataframe

results.drop(results[results['away_team'] == 'Sint Maarten'].index, inplace=True)
# Sint Maarten is not a member of FIFA and therefore will have no rankings

results.drop(results[(results['away_team'] == 'North Macedonia') & (results['datetime'] < '1994-05-17 00:00:00')].index, inplace=True)
# dropping 4 rows of games for North Macedonia because they do not have a rank prior to 1994-05-17 in the dataframe

results.drop(results[(results['away_team'] == 'Kazakhstan') & (results['datetime'] < '1994-11-22 00:00:00')].index, inplace=True)
# dropping 2 rows of games for Kazakhstan because they do not have a rank prior to 1994-11-22 in the dataframe

results.drop(results[(results['away_team'] == 'Uzbekistan') & (results['datetime'] < '1994-10-25 00:00:00')].index, inplace=True)
# dropping 4 rows of games for Uzbekistan because they do not have a rank prior to 1994-10-25 in the dataframe

results.drop(results[(results['away_team'] == 'Tajikistan') & (results['datetime'] < '1994-11-22 00:00:00')].index, inplace=True)
# dropping 1 row of games for Tajikistan because they do not have a rank prior to 1994-11-22 in the dataframe

results.drop(results[(results['away_team'] == 'Papua New Guinea') & (results['datetime'] < '1996-09-25 00:00:00')].index, inplace=True)
# dropping 5 rows of games for Papua New Guinea because they do not have a rank prior to 1996-09-25 in the dataframe

results.drop(results[(results['away_team'] == 'Samoa') & (results['datetime'] < '1996-11-20 00:00:00')].index, inplace=True)
# dropping 4 rows of games for Samoa because they do not have a rank prior to 1996-11-20 in the dataframe

results.drop(results[(results['away_team'] == 'Tonga') & (results['datetime'] < '1996-11-20 00:00:00')].index, inplace=True)
# dropping 3 rows of games for Tonga because they do not have a rank prior to 1996-11-20 in the dataframe

results.drop(results[(results['away_team'] == 'Montserrat') & (results['datetime'] < '1999-03-24 00:00:00')].index, inplace=True)
# dropping 1 row of games for Montserrat because they do not have a rank prior to 1999-03-24 in the dataframe

results.drop(results[(results['away_team'] == 'Montenegro') & (results['datetime'] < '2007-06-13 00:00:00')].index, inplace=True)
# dropping 1 row of games for Montenegro because they do not have a rank prior to 2007-06-13 in the dataframe

results.drop(results[(results['away_team'] == 'Serbia and Montenegro') & (results['datetime'] < '2002-12-18 00:00:00')].index, inplace=True)
# dropping 32 rows of games for Serbia and Montenegro because they weren't included in FIFA rankings until 2002-12-18

results.drop(results[(results['away_team'] == 'Curaçao') & (results['datetime'] < '2007-06-13 00:00:00')].index, inplace=True)
# dropping 19 rows of games for Curaçao because they weren't included in FIFA rankings until 2007-06-13

results.drop(results[(results['away_team'] == 'Cook Islands') & (results['datetime'] < '1996-11-20 00:00:00')].index, inplace=True)
# dropping 3 rows of games for Cook Islands because they do not have a rank prior to 1996-11-20 in the dataframe

results.drop(results[(results['away_team'] == 'Guam') & (results['datetime'] < '1996-08-28 00:00:00')].index, inplace=True)
# dropping 2 rows of games for Guam because they do not have a rank prior to 1996-08-28 in the dataframe

results.drop(results[(results['away_team'] == 'New Caledonia') & (results['datetime'] < '2004-06-09 00:00:00')].index, inplace=True)
# dropping 12 rows of games for New Caledonia because they weren't included in FIFA rankings until 2004-06-09

results.drop(results[(results['away_team'] == 'Dominican Republic') & (results['datetime'] < '1993-08-08 00:00:00')].index, inplace=True)
# dropping 1 row of games for Dominican Republic because they do not have a rank prior to 1993-08-08 in the dataframe

results.drop(results[results['away_team'].str.contains('Zanzibar')].index, inplace=True)
# Zanzibar is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'].str.contains('Canary Islands')].index, inplace=True)
# Canary Islands is not a member of FIFA and therefore will have no rankings

results.drop(results[(results['away_team'] == 'Bosnia and Herzegovina') & (results['datetime'] < '1996-05-22 00:00:00')].index, inplace=True)
# dropping 1 row of games for Bosnia and Herzegovina because they do not have a rank prior to 1996-05-22 in the dataframe

results.drop(results[(results['away_team'] == 'Andorra') & (results['datetime'] < '1996-11-20 00:00:00')].index, inplace=True)
# dropping 1 row of games for Andorra because they do not have a rank prior to 1996-11-20 in the dataframe

results.drop(results[(results['away_team'] == 'British Virgin Islands') & (results['datetime'] < '1997-05-14 00:00:00')].index, inplace=True)
# dropping 1 row of games for British Virgin Islands because they do not have a rank prior to 1997-05-14 in the dataframe

results.drop(results[(results['away_team'] == 'Palestine') & (results['datetime'] < '1998-12-23 00:00:00')].index, inplace=True)
# dropping 2 rows of games for Palestine because they do not have a rank prior to 1998-12-23 in the dataframe

results.drop(results[results['away_team'].str.contains('Frøya')].index, inplace=True)
# Frøya is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'].str.contains('Hitra')].index, inplace=True)
# Hitra is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'].str.contains('Catalonia')].index, inplace=True)
# Catalonia is not a member of FIFA and therefore will have no rankings

results.drop(results[(results['away_team'] == 'US Virgin Islands') & (results['datetime'] < '1999-03-24 00:00:00')].index, inplace=True)
# dropping 2 rows of games for US Virgin Islands because they do not have a rank prior to 1999-03-24 in the dataframe

results.drop(results[results['away_team'].str.contains('Corsica')].index, inplace=True)
# Corsica is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'].str.contains('Brittany')].index, inplace=True)
# Brittany is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'].str.contains('Palau')].index, inplace=True)
# Palau is not a member of FIFA and therefore will have no rankings

results.drop(results[(results['away_team'] == 'São Tomé and Príncipe') & (results['datetime'] < '1998-08-19 00:00:00')].index, inplace=True)
# dropping 1 row of games for São Tomé and Príncipe because they do not have a rank prior to 1998-08-19 in the dataframe

results.drop(results[results['away_team'].str.contains('Gotland')].index, inplace=True)
# Gotland is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'].str.contains('Saare County')].index, inplace=True)
# Saare County is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'].str.contains('Rhodes')].index, inplace=True)
# Rhodes is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'].str.contains('Micronesia')].index, inplace=True)
# Micronesia is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'].str.contains('Andalusia')].index, inplace=True)
# Andalusia is not a member of FIFA and therefore will have no rankings

results.drop(results[(results['away_team'] == 'Bhutan') & (results['datetime'] < '2000-08-09 00:00:00')].index, inplace=True)
# dropping 1 row of games for Bhutan because they do not have a rank prior to 2000-08-09 in the dataframe

results.drop(results[results['away_team'].str.contains('Kernow')].index, inplace=True)
# Kernow is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'].str.contains('Saint Martin')].index, inplace=True)
# Saint Martin is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'].str.contains('Orkney')].index, inplace=True)
# Orkney is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'].str.contains('Monaco')].index, inplace=True)
# Monaco is not a member of FIFA and therefore will have no rankings

results.drop(results[(results['away_team'] == 'Afghanistan') & (results['datetime'] < '2003-01-15 00:00:00')].index, inplace=True)
# dropping 2 rows of games for Afghanistan because they do not have a rank prior to 2003-01-15 in the dataframe

results.drop(results[results['away_team'].str.contains('Tuvalu')].index, inplace=True)
# Tuvalu is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'].str.contains('Sark')].index, inplace=True)
# Sark is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'].str.contains('Alderney')].index, inplace=True)
# Alderney is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'].str.contains('Kiribati')].index, inplace=True)
# Kiribati is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'].str.contains('Mayotte')].index, inplace=True)
# Mayotte is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'].str.contains('Western Isles')].index, inplace=True)
# Western Isles is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'].str.contains('Falkland Islands')].index, inplace=True)
# Falkland Islands is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'].str.contains('Réunion')].index, inplace=True)
# Réunion is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'].str.contains('Galicia')].index, inplace=True)
# Galicia is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'].str.contains('Northern Cyprus')].index, inplace=True)
# Northern Cyprus is not a member of FIFA and therefore will have no rankings

results.drop(results[(results['away_team'] == 'Kosovo') & (results['datetime'] < '2016-07-14 00:00:00')].index, inplace=True)
# dropping 7 rows of games for Kosovo because they do not have a rank prior to 2016-07-14 in the dataframe

results.drop(results[results['away_team'].str.contains('Republic of St. Pauli')].index, inplace=True)
# Republic of St. Pauli is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'].str.contains('Găgăuzia')].index, inplace=True)
# Găgăuzia is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'].str.contains('Tibet')].index, inplace=True)
# Tibet is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'].str.contains('Occitania')].index, inplace=True)
# Occitania is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'].str.contains('Sápmi')].index, inplace=True)
# Sápmi is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'].str.contains('Silesia')].index, inplace=True)
# Silesia is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'].str.contains('Northern Mariana Islands')].index, inplace=True)
# Northern Mariana Islands is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'].str.contains('Menorca')].index, inplace=True)
# Menorca is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'].str.contains('Provence')].index, inplace=True)
# Provence is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'].str.contains('Arameans Suryoye')].index, inplace=True)
# Arameans Suryoye is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'].str.contains('Padania')].index, inplace=True)
# Padania is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'].str.contains('Iraqi Kurdistan')].index, inplace=True)
# Iraqi Kurdistan is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'].str.contains('Gozo')].index, inplace=True)
# Gozo is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'].str.contains('Bonaire')].index, inplace=True)
# Bonaire is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'].str.contains('Western Sahara')].index, inplace=True)
# Western Sahara is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'].str.contains('Raetia')].index, inplace=True)
# Raetia is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'].str.contains('Darfur')].index, inplace=True)
# Darfur is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'].str.contains('Tamil Eelam')].index, inplace=True)
# Tamil Eelam is not a member of FIFA and therefore will have no rankings

results.drop(results[(results['away_team'] == 'South Sudan') & (results['datetime'] < '2012-08-08 00:00:00')].index, inplace=True)
# dropping 1 row of games for South Sudan because they do not have a rank prior to 2012-08-08 in the dataframe

results.drop(results[results['away_team'].str.contains('Abkhazia')].index, inplace=True)
# Abkhazia is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'].str.contains('Saint Pierre and Miquelon')].index, inplace=True)
# Saint Pierre and Miquelon is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'].str.contains('Artsakh')].index, inplace=True)
# Artsakh is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'].str.contains('Madrid')].index, inplace=True)
# Madrid is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'].str.contains('Vatican City')].index, inplace=True)
# Vatican City is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'].str.contains('Ellan Vannin')].index, inplace=True)
# Ellan Vannin is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'].str.contains('South Ossetia')].index, inplace=True)
# South Ossetia is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'].str.contains('County of Nice')].index, inplace=True)
# County of Nice is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'].str.contains('Székely Land')].index, inplace=True)
# Székely Land is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'].str.contains('Romani people')].index, inplace=True)
# Romani people is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'].str.contains('Felvidék')].index, inplace=True)
# Felvidék is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'].str.contains('Chagos Islands')].index, inplace=True)
# Chagos Islands is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'].str.contains('United Koreans in Japan')].index, inplace=True)
# United Koreans in Japan is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'].str.contains('Somaliland')].index, inplace=True)
# Somaliland is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'].str.contains('Western Armenia')].index, inplace=True)
# Western Armenia is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'].str.contains('Barawa')].index, inplace=True)
# Barawa is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'].str.contains('Kárpátalja')].index, inplace=True)
# Kárpátalja is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'].str.contains('Yorkshire')].index, inplace=True)
# Yorkshire is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'].str.contains('Panjab')].index, inplace=True)
# Panjab is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'].str.contains('Cascadia')].index, inplace=True)
# Cascadia is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'].str.contains('Matabeleland')].index, inplace=True)
# Matabeleland is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'].str.contains('Kabylia')].index, inplace=True)
# Kabylia is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'].str.contains('Parishes of Jersey')].index, inplace=True)
# Parishes of Jersey is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'].str.contains('Saint Helena')].index, inplace=True)
# Saint Helena is not a member of FIFA and therefore will have no rankings

results.drop(results[results['away_team'].str.contains('Chameria')].index, inplace=True)
# Chameria is not a member of FIFA and therefore will have no rankings

results.drop(results[(results['away_team'] == 'Fiji') & (results['datetime'] < '1993-08-08 00:00:00')].index, inplace=True)
# dropping 2 rows of games for Fiji because they do not have a rank prior to 1993-08-08 in the dataframe

results.drop(results[(results['away_team'] == 'Moldova') & (results['datetime'] < '1994-05-17 00:00:00')].index, inplace=True)
# dropping 2 rows of games for Moldova because they do not have a rank prior to 1994-05-17 in the dataframe

results.drop(results[(results['away_team'] == 'Armenia') & (results['datetime'] < '1994-06-14 00:00:00')].index, inplace=True)
# dropping 1 row of games for Armenia because they do not have a rank prior to 1994-06-14 in the dataframe

results.drop(results[(results['away_team'] == 'American Samoa') & (results['datetime'] < '1998-10-21 00:00:00')].index, inplace=True)
# dropping 5 rows of games for American Somoa because they do not have a rank prior to 1998-10-21 in the dataframe

results.drop(results[(results['away_team'] == 'Djibouti') & (results['datetime'] < '1994-12-20 00:00:00')].index, inplace=True)
# dropping 3 rows of games for Djibouti because they do not have a rank prior to 1994-12-20 in the dataframe

results.drop(results[(results['away_team'] == 'Eritrea') & (results['datetime'] < '1998-10-21 00:00:00')].index, inplace=True)
# dropping 4 rows of games for Eritrea because they do not have a rank prior to 1998-10-21 in the dataframe

results.drop(results[results['away_team'] == 'Wallis Islands and Futuna'].index, inplace=True)
# Wallis Islands and Futuna is not a member of FIFA and therefore will have no rankings

results.drop(results[(results['away_team'] == 'Belize') & (results['datetime'] < '1995-12-19 00:00:00')].index, inplace=True)
# dropping 2 rows of games for Belize because they do not have a rank prior to 1995-12-19 in the dataframe

results.drop(results[(results['away_team'] == 'Turks and Caicos Islands') & (results['datetime'] < '1999-03-24 00:00:00')].index, inplace=True)
# dropping 1 row of games for Turks and Caicos Islands because they do not have a rank prior to 1999-03-24 in the dataframe

results.drop(results[results['away_team'].str.contains('Crimea')].index, inplace=True)
# Crimea is not a member of FIFA and therefore will have no rankings

results.drop(results[(results['away_team'] == 'Comoros') & (results['datetime'] < '2006-12-18 00:00:00')].index, inplace=True)
# dropping 2 rows of games for Comoros because they do not have a rank prior to 2006-12-18 in the dataframe

In [130]:
def away_rank(row):
    try:
        awayteam = row['away_team']
        matchday = row['datetime']

        awayteam_rankings = []
        for i in rankings_dict:
            if i['country_full'] == awayteam:
                awayteam_rankings.append(i)

        previous_rankings = []
        for i in awayteam_rankings:
            if i['datetime'] <= matchday:
                previous_rankings.append(i)
        # print(hometeam), print(matchday)

        return previous_rankings[-1]['rank']

    except:
        print(awayteam), print(matchday)
        return -1

In [131]:
results['away_rank'] = results.apply(away_rank, axis=1)

In [132]:
results[results['away_rank'] == -1].shape

(0, 12)

In [136]:
#  rankings[rankings['country_full'].str.contains('Serbia and Montenegro')]
#  checks for errors when assigning ranks

       rank           country_full   rank_date   datetime
19486  19.0  Serbia and Montenegro  12/18/2002 2002-12-18
19687  19.0  Serbia and Montenegro   1/15/2003 2003-01-15
19892  19.0  Serbia and Montenegro   2/19/2003 2003-02-19
20093  20.0  Serbia and Montenegro   3/26/2003 2003-03-26
20295  22.0  Serbia and Montenegro   4/23/2003 2003-04-23
20507  22.0  Serbia and Montenegro   5/21/2003 2003-05-21
20698  27.0  Serbia and Montenegro   6/25/2003 2003-06-25
20945  33.0  Serbia and Montenegro   7/30/2003 2003-07-30
21150  29.0  Serbia and Montenegro   8/27/2003 2003-08-27
21348  35.0  Serbia and Montenegro   9/24/2003 2003-09-24
21553  32.0  Serbia and Montenegro  10/22/2003 2003-10-22
21754  36.0  Serbia and Montenegro  11/19/2003 2003-11-19
21951  41.0  Serbia and Montenegro  12/15/2003 2003-12-15
22187  41.0  Serbia and Montenegro   1/14/2004 2004-01-14
22391  43.0  Serbia and Montenegro   2/18/2004 2004-02-18
22558  43.0  Serbia and Montenegro   3/17/2004 2004-03-17
22760  44.0  Serbia and Montenegro   4/14/2004 2004-04-14
22962  45.0  Serbia and Montenegro   5/12/2004 2004-05-12
23168  44.0  Serbia and Montenegro    6/9/2004 2004-06-09
23366  48.0  Serbia and Montenegro    7/7/2004 2004-07-07
23575  44.0  Serbia and Montenegro    8/4/2004 2004-08-04
23746  51.0  Serbia and Montenegro    9/1/2004 2004-09-01
23921  55.0  Serbia and Montenegro   10/6/2004 2004-10-06
24124  54.0  Serbia and Montenegro  11/10/2004 2004-11-10
24389  46.0  Serbia and Montenegro  12/20/2004 2004-12-20
24593  46.0  Serbia and Montenegro   1/19/2005 2005-01-19
24796  46.0  Serbia and Montenegro   2/16/2005 2005-02-16
25001  46.0  Serbia and Montenegro   3/23/2005 2005-03-23
25203  47.0  Serbia and Montenegro   4/20/2005 2005-04-20
25409  46.0  Serbia and Montenegro   5/18/2005 2005-05-18
25611  49.0  Serbia and Montenegro   6/15/2005 2005-06-15
25815  49.0  Serbia and Montenegro   7/20/2005 2005-07-20
25991  49.0  Serbia and Montenegro   8/17/2005 2005-08-17
26223  48.0  Serbia and Montenegro   9/12/2005 2005-09-12
26433  42.0  Serbia and Montenegro  10/17/2005 2005-10-17
26632  47.0  Serbia and Montenegro  11/21/2005 2005-11-21
26836  47.0  Serbia and Montenegro  12/16/2005 2005-12-16
27041  47.0  Serbia and Montenegro   1/18/2006 2006-01-18
27244  47.0  Serbia and Montenegro   2/15/2006 2006-02-15
27450  46.0  Serbia and Montenegro   3/15/2006 2006-03-15
27722  46.0  Serbia and Montenegro   4/19/2006 2006-04-19
27857  44.0  Serbia and Montenegro   5/17/2006 2006-05-17
28071  36.0  Serbia and Montenegro   7/12/2006 2006-07-12

In [137]:
#  results[(results['home_team'] == 'Serbia and Montenegro') & (results['datetime'] < '2002-12-18 00:00:00')]
#  checks for errors when assigning ranks

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,home_rank,away_rank,datetime
1426,1995-03-31,Serbia and Montenegro,Uruguay,1.0,0.0,Friendly,Belgrade,Yugoslavia,False,-1.0,36.0,1995-03-31
1534,1995-05-31,Serbia and Montenegro,Russia,1.0,2.0,Friendly,Belgrade,Yugoslavia,False,-1.0,15.0,1995-05-31
2086,1996-03-27,Serbia and Montenegro,Romania,1.0,0.0,Friendly,Belgrade,Yugoslavia,False,-1.0,11.0,1996-03-27
2126,1996-04-24,Serbia and Montenegro,Faroe Islands,3.0,1.0,FIFA World Cup qualification,Belgrade,Yugoslavia,True,-1.0,119.0,1996-04-24
2244,1996-06-02,Serbia and Montenegro,Malta,6.0,0.0,FIFA World Cup qualification,Belgrade,Yugoslavia,True,-1.0,93.0,1996-06-02
2656,1996-11-10,Serbia and Montenegro,Czech Republic,1.0,0.0,FIFA World Cup qualification,Belgrade,Yugoslavia,True,-1.0,4.0,1996-11-10
2905,1997-03-12,Serbia and Montenegro,Russia,0.0,0.0,Friendly,Belgrade,Yugoslavia,False,-1.0,8.0,1997-03-12
3077,1997-04-30,Serbia and Montenegro,Spain,1.0,1.0,FIFA World Cup qualification,Belgrade,Yugoslavia,True,-1.0,4.0,1997-04-30
3173,1997-06-08,Serbia and Montenegro,Slovakia,2.0,0.0,FIFA World Cup qualification,Belgrade,Yugoslavia,True,-1.0,17.0,1997-06-08
3565,1997-11-15,Serbia and Montenegro,Hungary,5.0,0.0,FIFA World Cup qualification,Belgrade,Yugoslavia,True,-1.0,68.0,1997-11-15
3840,1998-04-22,Serbia and Montenegro,South Korea,3.0,1.0,Friendly,Belgrade,Yugoslavia,False,-1.0,24.0,1998-04-22
3893,1998-05-29,Serbia and Montenegro,Nigeria,3.0,0.0,Friendly,Belgrade,Yugoslavia,False,-1.0,74.0,1998-05-29
3911,1998-06-03,Serbia and Montenegro,Japan,1.0,0.0,Friendly,Lausanne,Switzerland,True,-1.0,12.0,1998-06-03
3942,1998-06-14,Serbia and Montenegro,Iran,1.0,0.0,FIFA World Cup,Saint-Étienne,France,True,-1.0,42.0,1998-06-14
4110,1998-09-02,Serbia and Montenegro,Switzerland,1.0,1.0,Friendly,Niš,Yugoslavia,False,-1.0,76.0,1998-09-02
4310,1998-11-18,Serbia and Montenegro,Republic of Ireland,1.0,0.0,UEFA Euro qualification,Belgrade,Yugoslavia,False,-1.0,57.0,1998-11-18
4646,1999-06-08,Serbia and Montenegro,Malta,4.0,1.0,UEFA Euro qualification,Salonica,Greece,True,-1.0,124.0,1999-06-08
4847,1999-08-18,Serbia and Montenegro,Croatia,0.0,0.0,UEFA Euro qualification,Belgrade,Yugoslavia,False,-1.0,8.0,1999-08-18
4883,1999-09-05,Serbia and Montenegro,North Macedonia,3.0,1.0,UEFA Euro qualification,Belgrade,Yugoslavia,False,-1.0,66.0,1999-09-05
5316,2000-03-28,Serbia and Montenegro,China PR,1.0,0.0,Friendly,Belgrade,Yugoslavia,False,-1.0,66.0,2000-03-28
5627,2000-06-13,Serbia and Montenegro,Slovenia,3.0,3.0,UEFA Euro,Charleroi,Belgium,True,-1.0,46.0,2000-06-13
5668,2000-06-21,Serbia and Montenegro,Spain,3.0,4.0,UEFA Euro,Bruges,Belgium,True,-1.0,4.0,2000-06-21
6123,2001-01-14,Serbia and Montenegro,Bosnia and Herzegovina,1.0,1.0,Millennium Cup,Cochin,India,True,-1.0,78.0,2001-01-14
6136,2001-01-20,Serbia and Montenegro,Romania,2.0,0.0,Millennium Cup,Margao,India,True,-1.0,13.0,2001-01-20
6140,2001-01-23,Serbia and Montenegro,Japan,1.0,0.0,Millennium Cup,Calcutta,India,True,-1.0,40.0,2001-01-23
6338,2001-03-24,Serbia and Montenegro,Switzerland,1.0,1.0,FIFA World Cup qualification,Belgrade,Yugoslavia,True,-1.0,60.0,2001-03-24
6487,2001-04-25,Serbia and Montenegro,Russia,0.0,1.0,FIFA World Cup qualification,Belgrade,Yugoslavia,True,-1.0,20.0,2001-04-25
6862,2001-08-15,Serbia and Montenegro,Faroe Islands,2.0,0.0,FIFA World Cup qualification,Belgrade,Yugoslavia,True,-1.0,119.0,2001-08-15
6934,2001-09-05,Serbia and Montenegro,Slovenia,1.0,1.0,FIFA World Cup qualification,Belgrade,Yugoslavia,True,-1.0,44.0,2001-09-05
6984,2001-10-06,Serbia and Montenegro,Luxembourg,6.0,2.0,FIFA World Cup qualification,Belgrade,Yugoslavia,True,-1.0,145.0,2001-10-06
7351,2002-04-17,Serbia and Montenegro,Lithuania,4.0,1.0,Friendly,Smederevo,Yugoslavia,False,-1.0,100.0,2002-04-17
7723,2002-10-16,Serbia and Montenegro,Finland,2.0,0.0,UEFA Euro qualification,Belgrade,Yugoslavia,False,-1.0,44.0,2002-10-16

In [135]:
#  results[results['away_team'].str.contains('Wallis Islands and Futuna')]
#  checks for errors when assigning ranks

In [145]:
results.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,home_rank,away_rank,datetime
0,1993-01-01,Ghana,Mali,1.0,1.0,Friendly,Libreville,Gabon,True,39.0,69.0,1993-01-01
1,1993-01-02,Gabon,Burkina Faso,1.0,1.0,Friendly,Libreville,Gabon,False,55.0,97.0,1993-01-02
2,1993-01-02,Kuwait,Lebanon,2.0,0.0,Friendly,Kuwait City,Kuwait,False,71.0,161.0,1993-01-02
3,1993-01-03,Burkina Faso,Mali,1.0,0.0,Friendly,Libreville,Gabon,True,97.0,69.0,1993-01-03
4,1993-01-03,Gabon,Ghana,2.0,3.0,Friendly,Libreville,Gabon,False,55.0,39.0,1993-01-03

In [150]:
results['neutral'] = results['neutral'].map({True: 1, False: 0})

In [157]:
results.isnull().sum()

date          0
home_team     0
away_team     0
home_score    0
away_score    0
tournament    0
city          0
country       0
neutral       0
home_rank     0
away_rank     0
datetime      0
dtype: int64

In [154]:
results[results['home_score'].isnull()]

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,home_rank,away_rank,datetime
25555,2021-11-19,Sri Lanka,Seychelles,NaN,NaN,Mahinda Rajapaksa Cup,Columbo,Sri Lanka,0,204.0,197.0,2021-11-19

In [156]:
results.dropna(inplace=True)

In [160]:
results['home_score'] = results['home_score'].astype(int)
results['away_score'] = results['away_score'].astype(int)
results['home_rank'] = results['home_rank'].astype(int)
results['away_rank'] = results['away_rank'].astype(int)

In [161]:
results.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,home_rank,away_rank,datetime
0,1993-01-01,Ghana,Mali,1,1,Friendly,Libreville,Gabon,1,39,69,1993-01-01
1,1993-01-02,Gabon,Burkina Faso,1,1,Friendly,Libreville,Gabon,0,55,97,1993-01-02
2,1993-01-02,Kuwait,Lebanon,2,0,Friendly,Kuwait City,Kuwait,0,71,161,1993-01-02
3,1993-01-03,Burkina Faso,Mali,1,0,Friendly,Libreville,Gabon,1,97,69,1993-01-03
4,1993-01-03,Gabon,Ghana,2,3,Friendly,Libreville,Gabon,0,55,39,1993-01-03

In [162]:
results['home_team'].nunique()

211

In [163]:
results['away_team'].nunique()

211

In [164]:
results['tournament'].nunique()

77