# Data Collection

In [559]:
import pandas as pd

---

### Results DF

In [560]:
results = pd.read_csv('./data/results.csv')
results.head()
# data from kaggle:  https://www.kaggle.com/martj42/international-football-results-from-1872-to-2017?select=results.csv

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4.0,2.0,Friendly,London,England,False
2,1874-03-07,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2.0,2.0,Friendly,London,England,False
4,1876-03-04,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False

In [561]:
results.shape

(43045, 9)

In [562]:
results[results['date'] < '1992-12-31'].shape  # <- 1st date of FIFA rankings

(17489, 9)

In [563]:
results.drop(results[results['date'] < '1992-12-31'].index, inplace=True)

In [564]:
results.shape

(25556, 9)

In [565]:
results.reset_index(inplace=True)

In [566]:
results.drop(columns='index', inplace=True)
results.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1993-01-01,Ghana,Mali,1.0,1.0,Friendly,Libreville,Gabon,True
1,1993-01-02,Gabon,Burkina Faso,1.0,1.0,Friendly,Libreville,Gabon,False
2,1993-01-02,Kuwait,Lebanon,2.0,0.0,Friendly,Kuwait City,Kuwait,False
3,1993-01-03,Burkina Faso,Mali,1.0,0.0,Friendly,Libreville,Gabon,True
4,1993-01-03,Gabon,Ghana,2.0,3.0,Friendly,Libreville,Gabon,False

---

### Upcoming Fixtures DF

In [567]:
qualifying_fixtures = pd.read_csv('./data/concacaf_wcq_fixtures.csv')
qualifying_fixtures.tail()
# data from FIFA site:  https://www.fifa.com/tournaments/mens/worldcup/qatar2022/qualifiers/concacaf

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
54,2022-03-29,Panama,Canada,NaN,NaN,FIFA World Cup qualification,NaN,NaN,NaN
55,2022-03-29,Costa Rica,United States,NaN,NaN,FIFA World Cup qualification,NaN,NaN,NaN
56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [568]:
qualifying_fixtures[qualifying_fixtures['date'].isnull()]

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [569]:
qualifying_fixtures.drop(index=qualifying_fixtures[qualifying_fixtures['date'].isnull()].index, inplace=True)

---

### Current Table DF

In [570]:
table = pd.read_csv('./data/current_table_12.14.2021.csv')
table
# data from FIFA site:  https://www.fifa.com/tournaments/mens/worldcup/qatar2022/qualifiers/concacaf

,rank,team_name,matches_played,wins,draws,losses,goals_for,goals_against,goal_differential,points
0,1,Canada,8,4,4,0,13,5,8,16
1,2,USA,8,4,3,1,12,5,7,15
2,3,Mexico,8,4,2,2,11,7,4,14
3,4,Panama,8,4,2,2,11,9,2,14
4,5,Costa Rica,8,2,3,3,6,7,-1,9
5,6,Jamaica,8,1,4,3,6,10,-4,7
6,7,El Salvador,8,1,3,4,4,10,-6,6
7,8,Honduras,8,0,3,5,5,15,-10,3

---

### World Rankings DF

In [571]:
past_rankings = pd.read_csv('./data/fifa_ranking-2021-05-27.csv')
past_rankings.head()
# data from kaggle:  https://www.kaggle.com/cashncarry/fifaworldranking

,id,rank,country_full,country_abrv,total_points,previous_points,rank_change,confederation,rank_date
0,43818.0,82,Iraq,IRQ,15.0,0.0,0.0,AFC,12/31/1992
1,43873.0,107,Mozambique,MOZ,9.0,0.0,0.0,CAF,12/31/1992
2,43816.0,108,Indonesia,IDN,9.0,0.0,0.0,AFC,12/31/1992
3,1882218.0,109,Antigua and Barbuda,ATG,8.0,0.0,0.0,CONCACAF,12/31/1992
4,43820.0,110,Jordan,JOR,8.0,0.0,0.0,AFC,12/31/1992

In [572]:
past_rankings = past_rankings[['rank', 'country_full', 'rank_date']]
past_rankings.head()

   rank         country_full   rank_date
0    82                 Iraq  12/31/1992
1   107           Mozambique  12/31/1992
2   108            Indonesia  12/31/1992
3   109  Antigua and Barbuda  12/31/1992
4   110               Jordan  12/31/1992

In [573]:
past_rankings.shape

(63056, 3)

In [574]:
recent_rankings = pd.read_csv('./data/fifa_ranking_2021-11-19.csv')
recent_rankings.head()
# data from FIFA:  https://www.fifa.com/fifa-world-ranking/

   rank country_full   rank_date
0   1.0      Belgium  2021-08-12
1   2.0       Brazil  2021-08-12
2   3.0       France  2021-08-12
3   4.0      England  2021-08-12
4   5.0        Italy  2021-08-12

In [575]:
recent_rankings.shape

(1678, 3)

In [576]:
rankings = pd.concat([past_rankings, recent_rankings])
rankings.shape

(64734, 3)

---

### Combining and Cleaning the Data

In [577]:
rankings.dropna(inplace=True)

In [588]:
results['home_rank'] = 0

In [589]:
results['away_rank'] = 0

In [590]:
results['datetime'] = pd.to_datetime(results['date'])
rankings['datetime'] = pd.to_datetime(rankings['rank_date'])

In [591]:
results.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,home_rank,away_rank,datetime
0,1993-01-01,Ghana,Mali,1.0,1.0,Friendly,Libreville,Gabon,True,0,0,1993-01-01
1,1993-01-02,Gabon,Burkina Faso,1.0,1.0,Friendly,Libreville,Gabon,False,0,0,1993-01-02
2,1993-01-02,Kuwait,Lebanon,2.0,0.0,Friendly,Kuwait City,Kuwait,False,0,0,1993-01-02
3,1993-01-03,Burkina Faso,Mali,1.0,0.0,Friendly,Libreville,Gabon,True,0,0,1993-01-03
4,1993-01-03,Gabon,Ghana,2.0,3.0,Friendly,Libreville,Gabon,False,0,0,1993-01-03

In [611]:
results.shape

(25548, 12)

In [776]:
results.drop(results[(results['home_team'] == 'United Arab Emirates') & (results['datetime'] < '1993-08-08 00:00:00')].index, inplace=True)
# dropping 8 rows of games for UAE because they do not have a rank prior to 1993-08-08 in the dataframe

results.drop(results[(results['home_team'] == 'Netherlands') & (results['datetime'] < '1993-08-08 00:00:00')].index, inplace=True)
# dropping 3 rows of games for Netherlands because they do not have a rank prior to 1993-08-08 in the dataframe

results.drop(results[results['home_team'] == 'Martinique'].index, inplace=True)
# Martinique is not a member of FIFA and therefore will have no rankings

results.drop(results[(results['home_team'] == 'Guyana') & (results['datetime'] < '1993-08-08 00:00:00')].index, inplace=True)
# dropping 3 rows of games for Guyana because they do not have a rank prior to 1993-08-08 in the dataframe

results.drop(results[(results['home_team'] == 'Cayman Islands') & (results['datetime'] < '1993-08-08 00:00:00')].index, inplace=True)
# dropping 1 row of games for Cayman Islands because they do not have a rank prior to 1993-08-08 in the dataframe

results.drop(results[results['home_team'] == 'French Guiana'].index, inplace=True)
# French Guiana is not a member of FIFA and therefore will have no rankings

results.drop(results[(results['home_team'] == 'Slovakia') & (results['datetime'] < '1993-11-19 00:00:00')].index, inplace=True)
# dropping 2 rows of games for Slovakia because they do not have a rank prior to 1993-11-19 in the dataframe

results.drop(results[(results['home_team'] == 'Thailand') & (results['datetime'] < '1993-08-08 00:00:00')].index, inplace=True)
# dropping 5 rows of games for Thailand because they do not have a rank prior to 1993-08-08 in the dataframe

results.drop(results[(results['home_team'] == 'Anguilla') & (results['datetime'] < '1997-05-14 00:00:00')].index, inplace=True)
# dropping 3 rows of games for Angiulla because they do not have a rank prior to 1997-05-14 in the dataframe

results.drop(results[(results['home_team'] == 'Sri Lanka') & (results['datetime'] < '1993-08-08 00:00:00')].index, inplace=True)
# dropping 4 rows of games for Sri Lanka because they do not have a rank prior to 1993-08-08 in the dataframe

results.drop(results[(results['home_team'] == 'Vietnam') & (results['datetime'] < '1993-08-08 00:00:00')].index, inplace=True)
# dropping 4 rows of games for Vietnam because they do not have a rank prior to 1993-08-08 in the dataframe

results.drop(results[results['home_team'] == 'Guadeloupe'].index, inplace=True)
# Guadeloupe is not a member of FIFA and therefore will have no rankings

results.drop(results[(results['home_team'] == 'Latvia') & (results['datetime'] < '1993-08-08 00:00:00')].index, inplace=True)
# dropping 5 rows of games for Latvia because they do not have a rank prior to 1993-08-08 in the dataframe

results.drop(results[(results['home_team'] == 'Dominica') & (results['datetime'] < '1995-02-20 00:00:00')].index, inplace=True)
# dropping 3 rows of games for Dominica because they do not have a rank prior to 1995-02-20 in the dataframe

results.drop(results[(results['home_team'] == 'Czech Republic') & (results['datetime'] < '1994-03-15 00:00:00')].index, inplace=True)
# dropping 3 rows of games for Czech Republic because they do not have a rank prior to 1994-03-15 in the dataframe

results.drop(results[(results['home_team'] == 'Macau') & (results['datetime'] < '1993-08-08 00:00:00')].index, inplace=True)
# dropping 3 rows of games for Latvia because they do not have a rank prior to 1993-08-08 in the dataframe

In [777]:
# Ensuring country name matches in rankings and results dataframes

rankings.loc[rankings[rankings['country_full'].str.contains('Congo')].index, 'country_full'] = 'Congo'
results.loc[results[results['home_team'].str.contains('Congo')].index, 'home_team'] = 'Congo'

rankings.loc[rankings[rankings['country_full'].str.contains('Swaziland')].index, 'country_full'] = 'Eswatini'
rankings.loc[rankings[rankings['country_full'].str.contains('Eswatini')].index, 'country_full'] = 'Eswatini'
results.loc[results[results['home_team'].str.contains('Eswatini')].index, 'home_team'] = 'Eswatini'

rankings.loc[rankings[rankings['country_full'].str.contains('Korea DPR')].index, 'country_full'] = 'North Korea'
results.loc[results[results['home_team'].str.contains('North Korea')].index, 'home_team'] = 'North Korea'

rankings.loc[rankings[rankings['country_full'].str.contains('USA')].index, 'country_full'] = 'United States'
results.loc[results[results['home_team'].str.contains('USA')].index, 'home_team'] = 'United States'

rankings.loc[rankings[rankings['country_full'].str.contains('Ivoire')].index, 'country_full'] = 'Ivory Coast'
results.loc[results[results['home_team'].str.contains('Ivoire')].index, 'home_team'] = 'Ivory Coast'

rankings.loc[rankings[rankings['country_full'].str.contains('Kitts and Nevis')].index, 'country_full'] = 'St. Kitts and Nevis'
results.loc[results[results['home_team'].str.contains('Kitts and Nevis')].index, 'home_team'] = 'St. Kitts and Nevis'

rankings.loc[rankings[rankings['country_full'].str.contains('Korea Republic')].index, 'country_full'] = 'South Korea'
results.loc[results[results['home_team'].str.contains('Korea Republic')].index, 'home_team'] = 'South Korea'

rankings.loc[rankings[rankings['country_full'].str.contains('St. Vin')].index, 'country_full'] = 'St. Vincent and the Grenadines'
results.loc[results[results['home_team'].str.contains('Vincent')].index, 'home_team'] = 'St. Vincent and the Grenadines'

In [778]:
results_dict = results.to_dict('records')
results_dict[0]

{'date': '1993-01-01',
 'home_team': 'Ghana',
 'away_team': 'Mali',
 'home_score': 1.0,
 'away_score': 1.0,
 'tournament': 'Friendly',
 'city': 'Libreville',
 'country': 'Gabon',
 'neutral': True,
 'home_rank': 0,
 'away_rank': 0,
 'datetime': Timestamp('1993-01-01 00:00:00')}

In [779]:
rankings_dict = rankings.to_dict('records')
rankings_dict[0:2]

[{'rank': 82.0,
  'country_full': 'Iraq',
  'rank_date': '12/31/1992',
  'datetime': Timestamp('1992-12-31 00:00:00')},
 {'rank': 107.0,
  'country_full': 'Mozambique',
  'rank_date': '12/31/1992',
  'datetime': Timestamp('1992-12-31 00:00:00')}]

In [780]:
# row = results_dict[-1]
def home_rank(row):
    hometeam = row['home_team']
    hometeam

    matchday = row['datetime']
    matchday

    hometeam_rankings = []
    for i in rankings_dict:
        if i['country_full'] == hometeam:
            hometeam_rankings.append(i)

    hometeam_rankings

    previous_rankings = []
    for i in hometeam_rankings:
        if i['datetime'] <= matchday:
            previous_rankings.append(i)
    print(hometeam), print(matchday), print(previous_rankings)
    previous_rankings

    return previous_rankings[-1]['rank']

In [781]:
results.apply(home_rank, axis=1)

Ghana
1993-01-01 00:00:00
[{'rank': 39.0, 'country_full': 'Ghana', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Gabon
1993-01-02 00:00:00
[{'rank': 55.0, 'country_full': 'Gabon', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Kuwait
1993-01-02 00:00:00
[{'rank': 71.0, 'country_full': 'Kuwait', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Burkina Faso
1993-01-03 00:00:00
[{'rank': 97.0, 'country_full': 'Burkina Faso', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Gabon
1993-01-03 00:00:00
[{'rank': 55.0, 'country_full': 'Gabon', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Uganda
1993-01-08 00:00:00
[{'rank': 92.0, 'country_full': 'Uganda', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Sierra Leone
1993-01-09 00:00:00
[{'rank': 79.0, 'country_full': 'Sierra Leone', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Angola
1993-01-10 00:00:00
[{'rank': 102.0, 'country_full': 'Angola', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Botswana
1993-01-10 00:00:00
[{'rank': 139.0, 'country_full': 'Botswana', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Congo
1993-01-10 00:00:00
[{'rank': 90.0, 'country_full': 'Congo', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}, {'rank': 128.0, 'country_full': 'Congo', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}, {'rank': 29.0, 'country_full': 'Congo', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Senegal
1993-01-10 00:00:00
[{'rank': 51.0, 'country_full': 'Senegal', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Tunisia
1993-01-10 00:00:00
[{'rank': 38.0, 'country_full': 'Tunisia', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Uganda
1993-01-10 00:00:00
[{'rank': 92.0, 'country_full': 'Uganda', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
South Africa
1993-01-16 00:00:00
[{'rank': 124.0, 'country_full': 'South Africa', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Tanzania
1993-01-16 00:00:00
[{'rank': 80.0, 'country_full': 'Tanzania', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Benin
1993-01-17 00:00:00
[{'rank': 127.0, 'country_full': 'Benin', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Botswana
1993-01-17 00:00:00
[{'rank': 139.0, 'country_full': 'Botswana', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Burundi
1993-01-17 00:00:00
[{'rank': 100.0, 'country_full': 'Burundi', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Ethiopia
1993-01-17 00:00:00
[{'rank': 85.0, 'country_full': 'Ethiopia', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Mozambique
1993-01-17 00:00:00
[{'rank': 107.0, 'country_full': 'Mozambique', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Namibia
1993-01-17 00:00:00
[{'rank': 158.0, 'country_full': 'Namibia', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Eswatini
1993-01-17 00:00:00
[{'rank': 104.0, 'country_full': 'Eswatini', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}, {'rank': 59.0, 'country_full': 'Eswatini', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Togo
1993-01-17 00:00:00
[{'rank': 101.0, 'country_full': 'Togo', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Angola
1993-01-18 00:00:00
[{'rank': 102.0, 'country_full': 'Angola', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
North Korea
1993-01-19 00:00:00
[{'rank': 7.0, 'country_full': 'North Korea', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}, {'rank': 77.0, 'country_full': 'North Korea', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Guinea-Bissau
1993-01-20 00:00:00
[{'rank': 117.0, 'country_full': 'Guinea-Bissau', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
India
1993-01-20 00:00:00
[{'rank': 143.0, 'country_full': 'India', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Italy
1993-01-20 00:00:00
[{'rank': 2.0, 'country_full': 'Italy', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Cameroon
1993-01-22 00:00:00
[{'rank': 22.0, 'country_full': 'Cameroon', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Ghana
1993-01-23 00:00:00
[{'rank': 39.0, 'country_full': 'Ghana', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Guinea-Bissau
1993-01-23 00:00:00
[{'rank': 117.0, 'country_full': 'Guinea-Bissau', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Venezuela
1993-01-23 00:00:00
[{'rank': 125.0, 'country_full': 'Venezuela', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
India
1993-01-24 00:00:00
[{'rank': 143.0, 'country_full': 'India', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Malta
1993-01-24 00:00:00
[{'rank': 73.0, 'country_full': 'Malta', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Togo
1993-01-24 00:00:00
[{'rank': 101.0, 'country_full': 'Togo', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Bolivia
1993-01-25 00:00:00
[{'rank': 87.0, 'country_full': 'Bolivia', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
India
1993-01-26 00:00:00
[{'rank': 143.0, 'country_full': 'India', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Ecuador
1993-01-27 00:00:00
[{'rank': 65.0, 'country_full': 'Ecuador', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Peru
1993-01-27 00:00:00
[{'rank': 78.0, 'country_full': 'Peru', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Spain
1993-01-27 00:00:00
[{'rank': 15.0, 'country_full': 'Spain', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Cameroon
1993-01-28 00:00:00
[{'rank': 22.0, 'country_full': 'Cameroon', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Bolivia
1993-01-29 00:00:00
[{'rank': 87.0, 'country_full': 'Bolivia', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
India
1993-01-30 00:00:00
[{'rank': 143.0, 'country_full': 'India', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Peru
1993-01-30 00:00:00
[{'rank': 78.0, 'country_full': 'Peru', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Senegal
1993-01-30 00:00:00
[{'rank': 51.0, 'country_full': 'Senegal', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
United States
1993-01-30 00:00:00
[{'rank': 106.0, 'country_full': 'United States', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}, {'rank': 24.0, 'country_full': 'United States', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Zambia
1993-01-30 00:00:00
[{'rank': 32.0, 'country_full': 'Zambia', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Congo
1993-01-31 00:00:00
[{'rank': 90.0, 'country_full': 'Congo', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}, {'rank': 128.0, 'country_full': 'Congo', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}, {'rank': 29.0, 'country_full': 'Congo', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Ecuador
1993-01-31 00:00:00
[{'rank': 65.0, 'country_full': 'Ecuador', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Egypt
1993-01-31 00:00:00
[{'rank': 21.0, 'country_full': 'Egypt', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Ghana
1993-01-31 00:00:00
[{'rank': 39.0, 'country_full': 'Ghana', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Ivory Coast
1993-01-31 00:00:00
[{'rank': 162.0, 'country_full': 'Ivory Coast', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}, {'rank': 27.0, 'country_full': 'Ivory Coast', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
North Korea
1993-01-31 00:00:00
[{'rank': 7.0, 'country_full': 'North Korea', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}, {'rank': 77.0, 'country_full': 'North Korea', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Morocco
1993-01-31 00:00:00
[{'rank': 41.0, 'country_full': 'Morocco', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Tunisia
1993-01-31 00:00:00
[{'rank': 38.0, 'country_full': 'Tunisia', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Zimbabwe
1993-01-31 00:00:00
[{'rank': 54.0, 'country_full': 'Zimbabwe', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Cyprus
1993-02-01 00:00:00
[{'rank': 72.0, 'country_full': 'Cyprus', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Israel
1993-02-03 00:00:00
[{'rank': 64.0, 'country_full': 'Israel', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Peru
1993-02-03 00:00:00
[{'rank': 78.0, 'country_full': 'Peru', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Malaysia
1993-02-05 00:00:00
[{'rank': 91.0, 'country_full': 'Malaysia', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Ghana
1993-02-06 00:00:00
[{'rank': 39.0, 'country_full': 'Ghana', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
United States
1993-02-06 00:00:00
[{'rank': 106.0, 'country_full': 'United States', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}, {'rank': 24.0, 'country_full': 'United States', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Malaysia
1993-02-07 00:00:00
[{'rank': 91.0, 'country_full': 'Malaysia', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Singapore
1993-02-09 00:00:00
[{'rank': 89.0, 'country_full': 'Singapore', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Mexico
1993-02-10 00:00:00
[{'rank': 25.0, 'country_full': 'Mexico', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Portugal
1993-02-10 00:00:00
[{'rank': 33.0, 'country_full': 'Portugal', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Cyprus
1993-02-13 00:00:00
[{'rank': 72.0, 'country_full': 'Cyprus', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
United States
1993-02-13 00:00:00
[{'rank': 106.0, 'country_full': 'United States', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}, {'rank': 24.0, 'country_full': 'United States', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Costa Rica
1993-02-16 00:00:00
[{'rank': 37.0, 'country_full': 'Costa Rica', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Albania
1993-02-17 00:00:00
[{'rank': 86.0, 'country_full': 'Albania', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
El Salvador
1993-02-17 00:00:00
[{'rank': 50.0, 'country_full': 'El Salvador', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
England
1993-02-17 00:00:00
[{'rank': 5.0, 'country_full': 'England', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Greece
1993-02-17 00:00:00
[{'rank': 31.0, 'country_full': 'Greece', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}, {'rank': 31.0, 'country_full': 'Greece', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Republic of Ireland
1993-02-17 00:00:00
[{'rank': 6.0, 'country_full': 'Republic of Ireland', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Israel
1993-02-17 00:00:00
[{'rank': 64.0, 'country_full': 'Israel', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Scotland
1993-02-17 00:00:00
[{'rank': 23.0, 'country_full': 'Scotland', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Argentina
1993-02-18 00:00:00
[{'rank': 10.0, 'country_full': 'Argentina', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]

Costa Rica
1993-02-19 00:00:00
[{'rank': 37.0, 'country_full': 'Costa Rica', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Finland
1993-02-20 00:00:00
[{'rank': 44.0, 'country_full': 'Finland', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Estonia
1993-02-21 00:00:00
[{'rank': 132.0, 'country_full': 'Estonia', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Finland
1993-02-21 00:00:00
[{'rank': 44.0, 'country_full': 'Finland', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
United States
1993-02-21 00:00:00
[{'rank': 106.0, 'country_full': 'United States', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}, {'rank': 24.0, 'country_full': 'United States', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Argentina
1993-02-24 00:00:00
[{'rank': 10.0, 'country_full': 'Argentina', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Kuwait
1993-02-24 00:00:00
[{'rank': 71.0, 'country_full': 'Kuwait', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Portugal
1993-02-24 00:00:00
[{'rank': 33.0, 'country_full': 'Portugal', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Spain
1993-02-24 00:00:00
[{'rank': 15.0, 'country_full': 'Spain', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Venezuela
1993-02-24 00:00:00
[{'rank': 125.0, 'country_full': 'Venezuela', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Algeria
1993-02-26 00:00:00
[{'rank': 30.0, 'country_full': 'Algeria', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Kenya
1993-02-27 00:00:00
[{'rank': 76.0, 'country_full': 'Kenya', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Nigeria
1993-02-27 00:00:00
[{'rank': 13.0, 'country_full': 'Nigeria', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Senegal
1993-02-27 00:00:00
[{'rank': 51.0, 'country_full': 'Senegal', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Benin
1993-02-28 00:00:00
[{'rank': 127.0, 'country_full': 'Benin', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Morocco
1993-02-28 00:00:00
[{'rank': 41.0, 'country_full': 'Morocco', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Niger
1993-02-28 00:00:00
[{'rank': 81.0, 'country_full': 'Niger', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Togo
1993-02-28 00:00:00
[{'rank': 101.0, 'country_full': 'Togo', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Zambia
1993-02-28 00:00:00
[{'rank': 32.0, 'country_full': 'Zambia', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Cameroon
1993-03-01 00:00:00
[{'rank': 22.0, 'country_full': 'Cameroon', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Jordan
1993-03-02 00:00:00
[{'rank': 110.0, 'country_full': 'Jordan', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Paraguay
1993-03-03 00:00:00
[{'rank': 68.0, 'country_full': 'Paraguay', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
El Salvador
1993-03-05 00:00:00
[{'rank': 50.0, 'country_full': 'El Salvador', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Honduras
1993-03-05 00:00:00
[{'rank': 40.0, 'country_full': 'Honduras', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
El Salvador
1993-03-07 00:00:00
[{'rank': 50.0, 'country_full': 'El Salvador', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Honduras
1993-03-07 00:00:00
[{'rank': 40.0, 'country_full': 'Honduras', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Japan
1993-03-07 00:00:00
[{'rank': 66.0, 'country_full': 'Japan', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Canada
1993-03-09 00:00:00
[{'rank': 57.0, 'country_full': 'Canada', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Costa Rica
1993-03-09 00:00:00
[{'rank': 37.0, 'country_full': 'Costa Rica', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Honduras
1993-03-09 00:00:00
[{'rank': 40.0, 'country_full': 'Honduras', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Austria
1993-03-10 00:00:00
[{'rank': 34.0, 'country_full': 'Austria', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Hungary
1993-03-10 00:00:00
[{'rank': 36.0, 'country_full': 'Hungary', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
San Marino
1993-03-10 00:00:00
[{'rank': 126.0, 'country_full': 'San Marino', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Canada
1993-03-11 00:00:00
[{'rank': 57.0, 'country_full': 'Canada', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Puerto Rico
1993-03-11 00:00:00
[{'rank': 122.0, 'country_full': 'Puerto Rico', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
El Salvador
1993-03-12 00:00:00
[{'rank': 50.0, 'country_full': 'El Salvador', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Qatar
1993-03-12 00:00:00
[{'rank': 52.0, 'country_full': 'Qatar', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Honduras
1993-03-14 00:00:00
[{'rank': 40.0, 'country_full': 'Honduras', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Japan
1993-03-14 00:00:00
[{'rank': 66.0, 'country_full': 'Japan', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Puerto Rico
1993-03-14 00:00:00
[{'rank': 122.0, 'country_full': 'Puerto Rico', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Honduras
1993-03-16 00:00:00
[{'rank': 40.0, 'country_full': 'Honduras', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Kuwait
1993-03-16 00:00:00
[{'rank': 71.0, 'country_full': 'Kuwait', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Brazil
1993-03-17 00:00:00
[{'rank': 3.0, 'country_full': 'Brazil', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Tunisia
1993-03-17 00:00:00
[{'rank': 38.0, 'country_full': 'Tunisia', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
El Salvador
1993-03-23 00:00:00
[{'rank': 50.0, 'country_full': 'El Salvador', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Costa Rica
1993-03-24 00:00:00
[{'rank': 37.0, 'country_full': 'Costa Rica', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Cyprus
1993-03-24 00:00:00
[{'rank': 72.0, 'country_full': 'Cyprus', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Israel
1993-03-24 00:00:00
[{'rank': 64.0, 'country_full': 'Israel', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Italy
1993-03-24 00:00:00
[{'rank': 2.0, 'country_full': 'Italy', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Scotland
1993-03-24 00:00:00
[{'rank': 23.0, 'country_full': 'Scotland', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Honduras
1993-03-25 00:00:00
[{'rank': 40.0, 'country_full': 'Honduras', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Lebanon
1993-03-26 00:00:00
[{'rank': 161.0, 'country_full': 'Lebanon', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Austria
1993-03-27 00:00:00
[{'rank': 34.0, 'country_full': 'Austria', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Malawi
1993-03-27 00:00:00
[{'rank': 53.0, 'country_full': 'Malawi', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Qatar
1993-03-30 00:00:00
[{'rank': 52.0, 'country_full': 'Qatar', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Chile
1993-03-31 00:00:00
[{'rank': 47.0, 'country_full': 'Chile', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Colombia
1993-03-31 00:00:00
[{'rank': 35.0, 'country_full': 'Colombia', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Denmark
1993-03-31 00:00:00
[{'rank': 9.0, 'country_full': 'Denmark', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Hungary
1993-03-31 00:00:00
[{'rank': 36.0, 'country_full': 'Hungary', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Republic of Ireland
1993-03-31 00:00:00
[{'rank': 6.0, 'country_full': 'Republic of Ireland', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Poland
1993-03-31 00:00:00
[{'rank': 20.0, 'country_full': 'Poland', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Switzerland
1993-03-31 00:00:00
[{'rank': 12.0, 'country_full': 'Switzerland', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Turkey
1993-03-31 00:00:00
[{'rank': 42.0, 'country_full': 'Turkey', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Wales
1993-03-31 00:00:00
[{'rank': 28.0, 'country_full': 'Wales', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Malaysia
1993-04-02 00:00:00
[{'rank': 91.0, 'country_full': 'Malaysia', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
St. Kitts and Nevis
1993-04-02 00:00:00
[{'rank': 75.0, 'country_full': 'St. Kitts and Nevis', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Niger
1993-04-03 00:00:00
[{'rank': 81.0, 'country_full': 'Niger', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Dominican Republic
1993-04-04 00:00:00
[{'rank': 141.0, 'country_full': 'Dominican Republic', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
El Salvador
1993-04-04 00:00:00
[{'rank': 50.0, 'country_full': 'El Salvador', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Honduras
1993-04-04 00:00:00
[{'rank': 40.0, 'country_full': 'Honduras', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Kuwait
1993-04-04 00:00:00
[{'rank': 71.0, 'country_full': 'Kuwait', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Antigua and Barbuda
1993-04-05 00:00:00
[{'rank': 109.0, 'country_full': 'Antigua and Barbuda', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
St. Kitts and Nevis
1993-04-06 00:00:00
[{'rank': 75.0, 'country_full': 'St. Kitts and Nevis', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Slovenia
1993-04-07 00:00:00
[{'rank': 131.0, 'country_full': 'Slovenia', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Japan
1993-04-08 00:00:00
[{'rank': 66.0, 'country_full': 'Japan', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]

Algeria
1993-04-09 00:00:00
[{'rank': 30.0, 'country_full': 'Algeria', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Egypt
1993-04-09 00:00:00
[{'rank': 21.0, 'country_full': 'Egypt', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
North Korea
1993-04-09 00:00:00
[{'rank': 7.0, 'country_full': 'North Korea', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}, {'rank': 77.0, 'country_full': 'North Korea', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Oman
1993-04-09 00:00:00
[{'rank': 116.0, 'country_full': 'Oman', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Qatar
1993-04-09 00:00:00
[{'rank': 52.0, 'country_full': 'Qatar', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
South Africa
1993-04-10 00:00:00
[{'rank': 124.0, 'country_full': 'South Africa', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Canada
1993-04-11 00:00:00
[{'rank': 57.0, 'country_full': 'Canada', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Ethiopia
1993-04-11 00:00:00
[{'rank': 85.0, 'country_full': 'Ethiopia', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Gabon
1993-04-11 00:00:00
[{'rank': 55.0, 'country_full': 'Gabon', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Guinea
1993-04-11 00:00:00
[{'rank': 63.0, 'country_full': 'Guinea', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Guinea-Bissau
1993-04-11 00:00:00
[{'rank': 117.0, 'country_full': 'Guinea-Bissau', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Japan
1993-04-11 00:00:00
[{'rank': 66.0, 'country_full': 'Japan', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
North Korea
1993-04-11 00:00:00
[{'rank': 7.0, 'country_full': 'North Korea', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}, {'rank': 77.0, 'country_full': 'North Korea', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Lesotho
1993-04-11 00:00:00
[{'rank': 142.0, 'country_full': 'Lesotho', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Mexico
1993-04-11 00:00:00
[{'rank': 25.0, 'country_full': 'Mexico', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Morocco
1993-04-11 00:00:00
[{'rank': 41.0, 'country_full': 'Morocco', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Mozambique
1993-04-11 00:00:00
[{'rank': 107.0, 'country_full': 'Mozambique', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Niger
1993-04-11 00:00:00
[{'rank': 81.0, 'country_full': 'Niger', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Qatar
1993-04-11 00:00:00
[{'rank': 52.0, 'country_full': 'Qatar', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
North Korea
1993-04-13 00:00:00
[{'rank': 7.0, 'country_full': 'North Korea', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}, {'rank': 77.0, 'country_full': 'North Korea', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Poland
1993-04-13 00:00:00
[{'rank': 20.0, 'country_full': 'Poland', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Austria
1993-04-14 00:00:00
[{'rank': 34.0, 'country_full': 'Austria', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Denmark
1993-04-14 00:00:00
[{'rank': 9.0, 'country_full': 'Denmark', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Germany
1993-04-14 00:00:00
[{'rank': 1.0, 'country_full': 'Germany', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Italy
1993-04-14 00:00:00
[{'rank': 2.0, 'country_full': 'Italy', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Lithuania
1993-04-14 00:00:00
[{'rank': 93.0, 'country_full': 'Lithuania', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Luxembourg
1993-04-14 00:00:00
[{'rank': 103.0, 'country_full': 'Luxembourg', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Romania
1993-04-14 00:00:00
[{'rank': 11.0, 'country_full': 'Romania', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Egypt
1993-04-15 00:00:00
[{'rank': 21.0, 'country_full': 'Egypt', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Hungary
1993-04-15 00:00:00
[{'rank': 36.0, 'country_full': 'Hungary', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Japan
1993-04-15 00:00:00
[{'rank': 66.0, 'country_full': 'Japan', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Algeria
1993-04-16 00:00:00
[{'rank': 30.0, 'country_full': 'Algeria', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Australia
1993-04-16 00:00:00
[{'rank': 45.0, 'country_full': 'Australia', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Qatar
1993-04-16 00:00:00
[{'rank': 52.0, 'country_full': 'Qatar', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Malta
1993-04-17 00:00:00
[{'rank': 73.0, 'country_full': 'Malta', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
United States
1993-04-17 00:00:00
[{'rank': 106.0, 'country_full': 'United States', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}, {'rank': 24.0, 'country_full': 'United States', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Cameroon
1993-04-18 00:00:00
[{'rank': 22.0, 'country_full': 'Cameroon', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Canada
1993-04-18 00:00:00
[{'rank': 57.0, 'country_full': 'Canada', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Indonesia
1993-04-18 00:00:00
[{'rank': 108.0, 'country_full': 'Indonesia', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Japan
1993-04-18 00:00:00
[{'rank': 66.0, 'country_full': 'Japan', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Mexico
1993-04-18 00:00:00
[{'rank': 25.0, 'country_full': 'Mexico', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Morocco
1993-04-18 00:00:00
[{'rank': 41.0, 'country_full': 'Morocco', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Qatar
1993-04-18 00:00:00
[{'rank': 52.0, 'country_full': 'Qatar', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Saudi Arabia
1993-04-18 00:00:00
[{'rank': 48.0, 'country_full': 'Saudi Arabia', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Australia
1993-04-19 00:00:00
[{'rank': 45.0, 'country_full': 'Australia', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Singapore
1993-04-22 00:00:00
[{'rank': 89.0, 'country_full': 'Singapore', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Hong Kong
1993-04-23 00:00:00
[{'rank': 119.0, 'country_full': 'Hong Kong', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Indonesia
1993-04-24 00:00:00
[{'rank': 108.0, 'country_full': 'Indonesia', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Kenya
1993-04-24 00:00:00
[{'rank': 76.0, 'country_full': 'Kenya', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Saudi Arabia
1993-04-24 00:00:00
[{'rank': 48.0, 'country_full': 'Saudi Arabia', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Sierra Leone
1993-04-24 00:00:00
[{'rank': 79.0, 'country_full': 'Sierra Leone', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
South Africa
1993-04-24 00:00:00
[{'rank': 124.0, 'country_full': 'South Africa', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Cameroon
1993-04-25 00:00:00
[{'rank': 22.0, 'country_full': 'Cameroon', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Congo
1993-04-25 00:00:00
[{'rank': 90.0, 'country_full': 'Congo', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}, {'rank': 128.0, 'country_full': 'Congo', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}, {'rank': 29.0, 'country_full': 'Congo', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Cyprus
1993-04-25 00:00:00
[{'rank': 72.0, 'country_full': 'Cyprus', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Ethiopia
1993-04-25 00:00:00
[{'rank': 85.0, 'country_full': 'Ethiopia', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Grenada
1993-04-25 00:00:00
[{'rank': 121.0, 'country_full': 'Grenada', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Honduras
1993-04-25 00:00:00
[{'rank': 40.0, 'country_full': 'Honduras', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Hong Kong
1993-04-25 00:00:00
[{'rank': 119.0, 'country_full': 'Hong Kong', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
South Korea
1993-04-25 00:00:00
[{'rank': 99.0, 'country_full': 'South Korea', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}, {'rank': 49.0, 'country_full': 'South Korea', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Mauritius
1993-04-25 00:00:00
[{'rank': 112.0, 'country_full': 'Mauritius', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Mexico
1993-04-25 00:00:00
[{'rank': 25.0, 'country_full': 'Mexico', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Morocco
1993-04-25 00:00:00
[{'rank': 41.0, 'country_full': 'Morocco', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Mozambique
1993-04-25 00:00:00
[{'rank': 107.0, 'country_full': 'Mozambique', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Niger
1993-04-25 00:00:00
[{'rank': 81.0, 'country_full': 'Niger', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
St. Vincent and the Grenadines
1993-04-25 00:00:00
[{'rank': 105.0, 'country_full': 'St. Vincent and the Grenadines', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Singapore
1993-04-26 00:00:00
[{'rank': 89.0, 'country_full': 'Singapore', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Ukraine
1993-04-27 00:00:00
[{'rank': 129.0, 'country_full': 'Ukraine', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Bulgaria
1993-04-28 00:00:00
[{'rank': 26.0, 'country_full': 'Bulgaria', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
England
1993-04-28 00:00:00
[{'rank': 5.0, 'country_full': 'England', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
France
1993-04-28 00:00:00
[{'rank': 19.0, 'country_full': 'France', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Indonesia
1993-04-28 00:00:00
[{'rank': 108.0, 'country_full': 'Indonesia', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]

Republic of Ireland
1993-04-28 00:00:00
[{'rank': 6.0, 'country_full': 'Republic of Ireland', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
South Korea
1993-04-28 00:00:00
[{'rank': 99.0, 'country_full': 'South Korea', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}, {'rank': 49.0, 'country_full': 'South Korea', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Norway
1993-04-28 00:00:00
[{'rank': 14.0, 'country_full': 'Norway', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Poland
1993-04-28 00:00:00
[{'rank': 20.0, 'country_full': 'Poland', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Portugal
1993-04-28 00:00:00
[{'rank': 33.0, 'country_full': 'Portugal', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Russia
1993-04-28 00:00:00
[{'rank': 8.0, 'country_full': 'Russia', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Singapore
1993-04-28 00:00:00
[{'rank': 89.0, 'country_full': 'Singapore', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Spain
1993-04-28 00:00:00
[{'rank': 15.0, 'country_full': 'Spain', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Grenada
1993-04-29 00:00:00
[{'rank': 121.0, 'country_full': 'Grenada', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Bangladesh
1993-04-30 00:00:00
[{'rank': 133.0, 'country_full': 'Bangladesh', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Indonesia
1993-04-30 00:00:00
[{'rank': 108.0, 'country_full': 'Indonesia', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Singapore
1993-04-30 00:00:00
[{'rank': 89.0, 'country_full': 'Singapore', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Malaysia
1993-05-01 00:00:00
[{'rank': 91.0, 'country_full': 'Malaysia', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Switzerland
1993-05-01 00:00:00
[{'rank': 12.0, 'country_full': 'Switzerland', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
El Salvador
1993-05-02 00:00:00
[{'rank': 50.0, 'country_full': 'El Salvador', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Guinea
1993-05-02 00:00:00
[{'rank': 63.0, 'country_full': 'Guinea', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Honduras
1993-05-02 00:00:00
[{'rank': 40.0, 'country_full': 'Honduras', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Ivory Coast
1993-05-02 00:00:00
[{'rank': 162.0, 'country_full': 'Ivory Coast', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}, {'rank': 27.0, 'country_full': 'Ivory Coast', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
North Korea
1993-05-02 00:00:00
[{'rank': 7.0, 'country_full': 'North Korea', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}, {'rank': 77.0, 'country_full': 'North Korea', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Singapore
1993-05-02 00:00:00
[{'rank': 89.0, 'country_full': 'Singapore', 'rank_date': '12/31/1992', 'datetime': Timestamp('1992-12-31 00:00:00')}]
Guernsey
1993-05-03 00:00:00
[]

IndexError: list index out of range

In [774]:
rankings[rankings['country_full'].str.contains('Macau')]

        rank country_full   rank_date   datetime
224    167.0        Macau    8/8/1993 1993-08-08
388    166.0        Macau   9/23/1993 1993-09-23
554    166.0        Macau  10/22/1993 1993-10-22
719    167.0        Macau  11/19/1993 1993-11-19
936    166.0        Macau  12/23/1993 1993-12-23
...      ...          ...         ...        ...
62952  182.0        Macau   5/27/2021 2021-05-27
182    183.0        Macau  2021-08-12 2021-08-12
391    182.0        Macau  2021-09-16 2021-09-16
601    182.0        Macau  2021-10-21 2021-10-21
811    182.0        Macau  2021-11-19 2021-11-19

[315 rows x 4 columns]

In [775]:
results[(results['home_team'] == 'Macau') & (results['datetime'] < '1993-08-08 00:00:00')]

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,home_rank,away_rank,datetime
269,1993-05-01,Macau,Saudi Arabia,0.0,6.0,FIFA World Cup qualification,Kuala Lumpur,Malaysia,True,0,0,1993-05-01
279,1993-05-03,Macau,Kuwait,1.0,10.0,FIFA World Cup qualification,Kuala Lumpur,Malaysia,True,0,0,1993-05-03
311,1993-05-18,Macau,Malaysia,0.0,5.0,FIFA World Cup qualification,Ta'if,Saudi Arabia,True,0,0,1993-05-18

In [723]:
results[results['home_team'] == 'Guadeloupe'].shape

(68, 12)