# Data Collection

In [12]:
import pandas as pd
import requests
import time
from bs4 import BeautifulSoup

---

### Results DF

In [3]:
results = pd.read_csv('./data/results.csv')
results.head()
# data from kaggle:  https://www.kaggle.com/martj42/international-football-results-from-1872-to-2017?select=results.csv

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4.0,2.0,Friendly,London,England,False
2,1874-03-07,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2.0,2.0,Friendly,London,England,False
4,1876-03-04,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False

In [6]:
results.shape

(43045, 9)

---

### Shootout DF

In [5]:
shootouts = pd.read_csv('./data/shootouts.csv')
shootouts.head()
# data from kaggle:  https://www.kaggle.com/martj42/international-football-results-from-1872-to-2017?select=results.csv

         date    home_team         away_team       winner
0   8/22/1967        India            Taiwan       Taiwan
1  11/14/1971  South Korea  Vietnam Republic  South Korea
2   5/17/1972     Thailand       South Korea  South Korea
3   5/19/1972     Thailand          Cambodia     Thailand
4   7/26/1973     Malaysia            Kuwait     Malaysia

In [7]:
shootouts.shape

(432, 4)

---

### Upcoming Fixtures DF

---

### Current Table DF

In [23]:
url = 'https://www.fifa.com/tournaments/mens/worldcup/qatar2022/qualifiers/concacaf'
res = requests.get(url)

In [24]:
res.status_code

200

In [25]:
soup = BeautifulSoup(res.content, 'lxml')

In [26]:
table = soup.find('table')

In [32]:
teams = []
team = {}
for row in table.find('tbody').find_all('tr'):
    team['name'] = row.find_all('td')[0].text
    team['matches_played'] = row.find_all('td')[1].text
    team['wins'] = row.find_all('td')[2].text
    team['draws'] = row.find_all('td')[3].text
    team['losses'] = row.find_all('td')[4].text
    team['goals_for'] = row.find_all('td')[5].text
    team['goals_against'] = row.find_all('td')[6].text
    team['goal_diff'] = row.find_all('td')[7].text
    team['points'] = row.find_all('td')[8].text
    teams.append(team)
teams

IndexError: list index out of range

---

### World Rankings DF

In [11]:
rankings = pd.read_csv('./data/fifa_ranking-2021-05-27.csv')
rankings.head()
# data from kaggle:  https://www.kaggle.com/cashncarry/fifaworldranking

,id,rank,country_full,country_abrv,total_points,previous_points,rank_change,confederation,rank_date
0,43818,82,Iraq,IRQ,15,0,0,AFC,1992-12-31
1,43873,107,Mozambique,MOZ,9,0,0,CAF,1992-12-31
2,43816,108,Indonesia,IDN,9,0,0,AFC,1992-12-31
3,1882218,109,Antigua and Barbuda,ATG,8,0,0,CONCACAF,1992-12-31
4,43820,110,Jordan,JOR,8,0,0,AFC,1992-12-31
5,43884,111,Sudan,SDN,7,0,0,CAF,1992-12-31
6,43871,112,Mauritius,MRI,7,0,0,CAF,1992-12-31
7,43938,113,Croatia,CRO,7,0,0,UEFA,1992-12-31
8,43977,106,Fiji,FIJ,9,0,0,OFC,1992-12-31
9,43896,114,Barbados,BRB,7,0,0,CONCACAF,1992-12-31
10,43831,116,Oman,OMA,6,0,0,AFC,1992-12-31
11,43862,117,Guinea-Bissau,GNB,6,0,0,CAF,1992-12-31
12,43917,118,St. Lucia,LCA,6,0,0,CONCACAF,1992-12-31
13,43814,119,Hong Kong,HKG,5,0,0,AFC,1992-12-31
14,43914,120,Panama,PAN,5,0,0,CONCACAF,1992-12-31
15,43905,121,Grenada,GRN,5,0,0,CONCACAF,1992-12-31
16,43915,122,Puerto Rico,PUR,5,0,0,CONCACAF,1992-12-31
17,43842,115,Yemen,YEM,6,0,0,AFC,1992-12-31
18,43918,105,St. Vincent / Grenadines,VIN,9,0,0,CONCACAF,1992-12-31
19,43885,104,Swaziland,SWZ,10,0,0,CAF,1992-12-31
20,43958,103,Luxembourg,LUX,10,0,0,UEFA,1992-12-31
21,43857,85,Ethiopia,ETH,14,0,0,CAF,1992-12-31
22,43932,86,Albania,ALB,14,0,0,UEFA,1992-12-31
23,43923,87,Bolivia,BOL,14,0,0,CONMEBOL,1992-12-31
24,43808,88,Bahrain,BHR,13,0,0,AFC,1992-12-31
25,43836,89,Singapore,SIN,13,0,0,AFC,1992-12-31
26,43853,90,Congo,CGO,13,0,0,CAF,1992-12-31
27,43827,91,Malaysia,MAS,13,0,0,AFC,1992-12-31
28,43889,92,Uganda,UGA,12,0,0,CAF,1992-12-31
29,43957,93,Lithuania,LTU,12,0,0,UEFA,1992-12-31
30,43944,94,Faroe Islands,FRO,12,0,0,UEFA,1992-12-31
31,43919,95,Suriname,SUR,12,0,0,CONCACAF,1992-12-31
32,43838,96,Syria,SYR,11,0,0,AFC,1992-12-31
33,43847,97,Burkina Faso,BFA,11,0,0,CAF,1992-12-31
34,43955,99,Latvia,LVA,10,0,0,UEFA,1992-12-31
35,43848,100,Burundi,BDI,10,0,0,CAF,1992-12-31
36,43887,101,Togo,TOG,10,0,0,CAF,1992-12-31
37,43844,102,Angola,ANG,10,0,0,CAF,1992-12-31
38,43981,123,Tahiti,TAH,5,0,0,OFC,1992-12-31
39,43865,84,Liberia,LBR,15,0,0,CAF,1992-12-31
40,43883,124,South Africa,RSA,5,0,0,CAF,1992-12-31
41,43966,126,San Marino,SMR,4,0,0,UEFA,1992-12-31
42,43830,149,Nepal,NEP,1,0,0,AFC,1992-12-31
43,43859,150,Gambia,GAM,1,0,0,CAF,1992-12-31
44,43856,151,Equatorial Guinea,EQG,0,0,0,CAF,1992-12-31
45,43829,152,Myanmar,MYA,0,0,0,AFC,1992-12-31
46,43956,153,Liechtenstein,LIE,0,0,0,UEFA,1992-12-31
47,43913,154,Nicaragua,NCA,0,0,0,CONCACAF,1992-12-31
48,43852,155,Chad,CHA,0,0,0,CAF,1992-12-31
49,43851,148,Central African Republic,CTA,1,0,0,CAF,1992-12-31
50,43813,156,Chinese Taipei,TPE,0,0,0,AFC,1992-12-31
51,43874,158,Namibia,NAM,0,0,0,CAF,1992-12-31
52,43982,159,Vanuatu,VAN,0,0,0,OFC,1992-12-31
53,43894,160,Aruba,ARU,0,0,0,CONCACAF,1992-12-31
54,43825,161,Lebanon,LBN,0,0,0,AFC,1992-12-31
55,43895,162,Bahamas,BAH,0,0,0,CONCACAF,1992-12-31
56,43828,163,Maldives,MDV,0,0,0,AFC,1992-12-31
57,43877,163,Rwanda,RWA,0,0,0,CAF,1992-12-31
58,43833,157,Philippines,PHI,0,0,0,AFC,1992-12-31
59,43880,147,Seychelles,SEY,1,0,0,CAF,1992-12-31