In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [28]:
df = pd.read_csv('./data/cleaned_results_and_rankings.csv')
df.head()

,date,home_team,away_team,home_score,away_score,neutral,home_rank,away_rank,h_goals_for_avg,h_goals_against_avg,a_goals_for_avg,a_goals_against_avg,datetime,match_type_FIFA_WCQ,match_type_Friendly,match_type_Qualifier,match_type_Tournament/Cup_Match
0,1993-01-01,Ghana,Mali,1,1,1,39,69,0.0,0.0,0.0,0.0,1993-01-01,0,1,0,0
1,1993-01-02,Gabon,Burkina Faso,1,1,0,55,97,0.0,0.0,0.0,0.0,1993-01-02,0,1,0,0
2,1993-01-02,Kuwait,Lebanon,2,0,0,71,161,0.0,0.0,0.0,0.0,1993-01-02,0,1,0,0
3,1993-01-03,Burkina Faso,Mali,1,0,1,97,69,0.0,0.0,1.0,1.0,1993-01-03,0,1,0,0
4,1993-01-03,Gabon,Ghana,2,3,0,55,39,1.0,1.0,0.0,0.0,1993-01-03,0,1,0,0

In [29]:
df.shape

(23301, 17)

In [30]:
df.describe()

,home_score,away_score,neutral,home_rank,away_rank,h_goals_for_avg,h_goals_against_avg,a_goals_for_avg,a_goals_against_avg,match_type_FIFA_WCQ,match_type_Friendly,match_type_Qualifier,match_type_Tournament/Cup_Match
count,23301.000000,23301.000000,23301.000000,23301.000000,23301.000000,23301.000000,23301.000000,23301.000000,23301.000000,23301.000000,23301.000000,23301.000000,23301.000000
mean,1.590146,1.064718,0.248273,77.215828,79.947985,1.594795,1.078629,1.039848,1.652138,0.224196,0.364920,0.175014,0.217330
std,1.537038,1.232681,0.432020,51.930515,52.724518,0.531251,0.535029,0.407417,0.777596,0.417061,0.481418,0.379987,0.412438
min,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,33.000000,36.000000,1.337662,0.789474,0.796875,1.200000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,1.000000,0.000000,71.000000,73.000000,1.609756,0.972222,1.023529,1.495050,0.000000,0.000000,0.000000,0.000000
75%,2.000000,2.000000,0.000000,115.000000,118.000000,1.889764,1.227848,1.269231,1.904762,0.000000,1.000000,0.000000,0.000000
max,10.000000,10.000000,1.000000,211.000000,211.000000,9.000000,7.000000,7.000000,22.000000,1.000000,1.000000,1.000000,1.000000

In [31]:
df['home_score'].value_counts().sort_index()

0     6090
1     7062
2     5145
3     2570
4     1287
5      566
6      291
7      142
8       84
9       40
10      24
Name: home_score, dtype: int64

In [32]:
df['away_score'].value_counts().sort_index()

0     9289
1     7567
2     3924
3     1519
4      575
5      210
6      105
7       66
8       28
9        9
10       9
Name: away_score, dtype: int64

In [33]:
df[df['away_score'] > 10].shape

(0, 17)

In [34]:
home_averages = df.groupby('home_team').mean()
CONCACAF_homegames = home_averages.loc[['Canada', 'Costa Rica', 'El Salvador', 'Honduras', 'Jamaica', 'Panama', 'Mexico', 'United States']]
CONCACAF_homegames

,home_score,away_score,neutral,home_rank,away_rank,h_goals_for_avg,h_goals_against_avg,a_goals_for_avg,a_goals_against_avg,match_type_FIFA_WCQ,match_type_Friendly,match_type_Qualifier,match_type_Tournament/Cup_Match
home_team,,,,,,,,,,,,,
Canada,1.400000,0.847619,0.323810,77.485714,67.609524,1.195309,1.017299,1.172294,1.573046,0.342857,0.438095,0.038095,0.180952
Costa Rica,1.779006,0.867403,0.375691,45.414365,66.569061,2.028925,0.855900,1.028635,1.676241,0.281768,0.337017,0.000000,0.348066
El Salvador,1.257485,1.173653,0.556886,90.652695,81.179641,1.274061,1.322136,0.994330,1.753583,0.239521,0.497006,0.017964,0.245509
Honduras,1.677596,1.005464,0.437158,53.743169,70.754098,1.791765,1.050666,0.942994,1.673485,0.240437,0.398907,0.000000,0.344262
Jamaica,1.583815,0.849711,0.300578,59.028902,76.526012,1.512334,0.754563,1.055480,1.665503,0.202312,0.456647,0.069364,0.265896
Panama,1.529851,0.843284,0.201493,82.380597,77.246269,1.538098,0.782758,1.018594,1.755547,0.291045,0.410448,0.014925,0.276119
Mexico,1.878205,0.855769,0.657051,15.121795,47.647436,2.002171,0.888406,1.075841,1.463334,0.157051,0.512821,0.000000,0.298077
United States,1.737463,1.082596,0.073746,21.011799,52.345133,1.562996,1.019597,1.146878,1.463989,0.171091,0.439528,0.017699,0.339233

In [35]:
home_goals_for = CONCACAF_homegames['home_score'].sort_values(ascending=False)
home_goals_for

home_team
Mexico           1.878205
Costa Rica       1.779006
United States    1.737463
Honduras         1.677596
Jamaica          1.583815
Panama           1.529851
Canada           1.400000
El Salvador      1.257485
Name: home_score, dtype: float64

In [36]:
home_goals_against = CONCACAF_homegames['away_score'].sort_values(ascending=False)
home_goals_against

home_team
El Salvador      1.173653
United States    1.082596
Honduras         1.005464
Costa Rica       0.867403
Mexico           0.855769
Jamaica          0.849711
Canada           0.847619
Panama           0.843284
Name: away_score, dtype: float64

In [37]:
away_averages = df.groupby('away_team').mean()
CONCACAF_awaygames = away_averages.loc[['Canada', 'Costa Rica', 'El Salvador', 'Honduras', 'Jamaica', 'Panama', 'Mexico', 'United States']]
CONCACAF_awaygames

,home_score,away_score,neutral,home_rank,away_rank,h_goals_for_avg,h_goals_against_avg,a_goals_for_avg,a_goals_against_avg,match_type_FIFA_WCQ,match_type_Friendly,match_type_Qualifier,match_type_Tournament/Cup_Match
away_team,,,,,,,,,,,,,
Canada,1.600000,1.128000,0.320000,63.384000,78.664000,1.713458,1.028294,0.915031,1.833778,0.248000,0.488000,0.016000,0.248000
Costa Rica,1.479263,1.082949,0.276498,50.368664,43.230415,1.723491,0.928206,1.075264,1.487348,0.230415,0.423963,0.000000,0.308756
El Salvador,1.776978,0.827338,0.330935,69.309353,92.489209,1.712569,1.080342,0.592299,2.044946,0.287770,0.294964,0.028777,0.388489
Honduras,1.528409,1.267045,0.352273,60.221591,54.539773,1.672919,0.995128,1.304925,1.593379,0.238636,0.471591,0.005682,0.267045
Jamaica,1.476684,1.046632,0.274611,70.875648,54.658031,1.755686,1.074586,1.095306,1.581845,0.165803,0.533679,0.036269,0.253886
Panama,1.699422,0.838150,0.271676,58.150289,82.722543,1.704322,0.996239,0.798825,1.807594,0.219653,0.445087,0.005780,0.317919
Mexico,1.245098,1.450980,0.436275,40.602941,15.093137,1.775948,0.908044,1.364485,1.277304,0.254902,0.279412,0.000000,0.377451
United States,1.670455,1.028409,0.176136,62.215909,20.426136,1.749097,1.013870,0.904400,1.654234,0.335227,0.443182,0.039773,0.119318

In [38]:
away_goals_for = CONCACAF_awaygames['away_score'].sort_values(ascending=False)
away_goals_for

away_team
Mexico           1.450980
Honduras         1.267045
Canada           1.128000
Costa Rica       1.082949
Jamaica          1.046632
United States    1.028409
Panama           0.838150
El Salvador      0.827338
Name: away_score, dtype: float64

In [39]:
away_goals_against = CONCACAF_awaygames['home_score'].sort_values(ascending=False)
away_goals_against

away_team
El Salvador      1.776978
Panama           1.699422
United States    1.670455
Canada           1.600000
Honduras         1.528409
Costa Rica       1.479263
Jamaica          1.476684
Mexico           1.245098
Name: home_score, dtype: float64

In [40]:
df[(df['home_rank'] > df['away_rank']) & (df['home_score'] > df['away_score'])].index.nunique()

3296

In [41]:
df[(df['away_rank'] > df['home_rank']) & (df['away_score'] > df['home_score'])].index.nunique()

1686

In [46]:
# win percentage of lower ranked teams
(3296 + 1686) / 23301

0.21381056607012575

In [47]:
# win percentage of higher ranked teams
(7942 + 4734) / 23301

0.5440109866529333

In [51]:
# percentage of draws
(2625 + 2963) / 23301

0.23981803356079137

In [42]:
df.shape[0]

23301

In [43]:
df[(df['home_rank'] < df['away_rank']) & (df['home_score'] > df['away_score'])].index.nunique()

7942

In [44]:
df[(df['away_rank'] < df['home_rank']) & (df['away_score'] > df['home_score'])].index.nunique()

4734

In [49]:
df[(df['home_rank'] < df['away_rank']) & (df['home_score'] == df['away_score'])].index.nunique()

2625

In [50]:
df[(df['away_rank'] < df['home_rank']) & (df['away_score'] == df['home_score'])].index.nunique()

2963

In [53]:
df[df['home_rank'] == df['away_rank']]
# need to sort this out

,date,home_team,away_team,home_score,away_score,neutral,home_rank,away_rank,h_goals_for_avg,h_goals_against_avg,a_goals_for_avg,a_goals_against_avg,datetime,match_type_FIFA_WCQ,match_type_Friendly,match_type_Qualifier,match_type_Tournament/Cup_Match
658,1994-03-12,Congo,Congo,2,1,0,102,102,1.333333,0.666667,0.200000,0.800000,1994-03-12,0,1,0,0
882,1994-08-19,Congo,Congo,2,0,0,110,110,1.250000,0.875000,0.555556,1.000000,1994-08-19,0,1,0,0
887,1994-08-24,Congo,Congo,2,0,0,110,110,1.333333,0.777778,0.500000,1.100000,1994-08-24,0,1,0,0
890,1994-08-26,Congo,Congo,1,1,0,110,110,1.400000,0.700000,0.454545,1.181818,1994-08-26,0,1,0,0
1649,1995-12-12,Congo,Congo,2,2,0,114,114,1.578947,0.842105,0.588235,1.235294,1995-12-12,0,1,0,0
1818,1996-04-07,Congo,Congo,2,1,0,129,129,1.523810,0.952381,0.700000,1.200000,1996-04-07,0,1,0,0
1852,1996-04-28,Congo,Congo,3,1,0,139,139,1.545455,0.954545,0.714286,1.238095,1996-04-28,0,1,0,0
2467,1997-01-12,Congo,Congo,1,1,0,100,100,1.500000,0.785714,0.814815,1.481481,1997-01-12,1,0,0,0
2825,1997-06-08,Congo,Congo,1,0,0,95,95,1.500000,0.843750,0.812500,1.500000,1997-06-08,1,0,0,0
4478,1999-10-30,Congo,Congo,1,1,0,105,105,1.377778,0.733333,0.851064,1.489362,1999-10-30,0,1,0,0
4553,1999-12-01,Congo,Congo,0,1,0,102,102,1.372549,0.764706,0.860000,1.500000,1999-12-01,0,1,0,0
5207,2000-07-09,Congo,Congo,2,0,0,70,70,1.446429,0.750000,0.904762,1.412698,2000-07-09,1,0,0,0
5961,2001-05-06,Congo,Congo,1,1,0,73,73,1.424242,0.772727,0.885714,1.585714,2001-05-06,1,0,0,0
6945,2002-08-26,Congo,Congo,1,3,0,79,79,1.364865,0.797297,0.860759,1.594937,2002-08-26,0,1,0,0
7316,2003-03-09,Congo,Congo,3,0,0,102,102,1.333333,0.794872,0.976471,1.576471,2003-03-09,0,1,0,0
8596,2004-07-08,Costa Rica,Paraguay,0,1,1,29,29,2.082192,0.917808,0.876404,1.280899,2004-07-08,0,0,0,1
8969,2004-11-17,Lebanon,Vietnam,0,0,0,109,109,1.419355,1.258065,1.551724,2.103448,2004-11-17,1,0,0,0
9570,2005-09-03,Northern Ireland,Azerbaijan,2,0,0,116,116,0.934783,1.521739,0.415094,2.509434,2005-09-03,1,0,0,0
9894,2006-02-06,Oman,Singapore,1,0,1,92,92,1.567308,1.048077,0.866667,1.533333,2006-02-06,0,1,0,0
10069,2006-05-28,Croatia,Iran,2,2,0,23,23,1.873016,0.793651,1.712500,1.112500,2006-05-28,0,1,0,0
10836,2007-05-28,Congo,Congo,2,1,0,81,81,1.405660,0.858491,0.862903,1.524194,2007-05-28,0,1,0,0
10867,2007-06-02,Lithuania,Georgia,1,0,0,92,92,1.169492,1.338983,1.050000,1.933333,2007-06-02,0,0,1,0
11060,2007-07-17,New Caledonia,Vanuatu,5,3,0,175,175,0.000000,0.000000,1.566667,2.200000,2007-07-17,0,1,0,0
11225,2007-09-12,Colombia,Paraguay,1,0,0,31,31,1.634409,0.763441,0.887931,1.327586,2007-09-12,0,1,0,0
11878,2008-06-04,Panama,Canada,2,2,1,60,60,1.433333,0.900000,0.937500,1.750000,2008-06-04,0,1,0,0
13042,2009-08-26,India,Sri Lanka,3,1,0,156,156,1.383562,1.301370,0.777778,2.555556,2009-08-26,0,0,0,1
13384,2009-12-30,Qatar,North Korea,0,1,0,86,86,1.664122,1.053435,1.102941,1.264706,2009-12-30,0,1,0,0
13887,2010-09-25,Iraq,Yemen,2,1,1,107,107,2.369863,0.835616,0.912281,2.245614,2010-09-25,0,0,0,1
14031,2010-10-26,Puerto Rico,St. Kitts and Nevis,0,1,1,129,129,1.666667,1.111111,1.230769,2.179487,2010-10-26,0,0,1,0
14565,2011-06-29,Cambodia,Laos,4,2,0,174,174,1.258065,2.354839,0.611111,3.944444,2011-06-29,1,0,0,0
14579,2011-07-03,Laos,Cambodia,6,2,0,174,174,1.454545,2.409091,0.595238,3.904762,2011-07-03,1,0,0,0
15154,2011-11-26,Samoa,American Samoa,1,0,0,204,204,1.812500,2.062500,0.000000,5.600000,2011-11-26,0,0,1,0
15296,2012-02-29,El Salvador,Estonia,0,2,1,54,54,1.285714,1.268908,0.715447,2.073171,2012-02-29,0,1,0,0
15383,2012-05-22,Albania,Qatar,2,1,1,84,84,1.227848,1.075949,1.079208,1.396040,2012-05-22,0,1,0,0
16040,2012-11-25,Malaysia,Singapore,0,3,0,163,163,1.747573,1.213592,0.825581,1.569767,2012-11-25,0,0,0,1
16599,2013-07-07,Congo,Congo,2,1,0,84,84,1.416667,0.861111,0.965517,1.540230,2013-07-07,0,0,0,1
16651,2013-07-28,Congo,Congo,1,0,0,84,84,1.420690,0.862069,0.965714,1.542857,2013-07-28,0,0,0,1
17071,2013-12-28,Bahrain,Iraq,0,0,1,110,110,1.546584,1.024845,1.225806,1.200000,2013-12-28,0,0,0,1
17254,2014-05-27,Tanzania,Malawi,1,0,0,122,122,1.172414,0.991379,0.910891,1.564356,2014-05-27,0,1,0,0
17630,2014-10-12,East Timor,Brunei,4,2,1,193,193,1.500000,3.250000,0.652174,2.739130,2014-10-12,0,0,0,1
17862,2014-12-30,United Arab Emirates,Jordan,1,0,1,81,81,1.576087,1.228261,1.065574,1.327869,2014-12-30,0,1,0,0
17943,2015-01-31,Congo,Congo,2,4,1,57,57,1.409938,0.869565,0.964467,1.502538,2015-01-31,0,0,0,1
18336,2015-08-19,Fiji,Tonga,5,0,0,198,198,2.075000,1.025000,1.222222,2.833333,2015-08-19,0,1,0,0
19526,2016-11-05,East Timor,Nepal,0,0,1,186,186,1.083333,3.500000,0.745455,2.563636,2016-11-05,0,0,0,1
19953,2017-06-10,Congo,Congo,3,1,0,39,39,1.462766,0.898936,1.026432,1.480176,2017-06-10,0,0,1,0
20129,2017-08-11,Congo,Congo,0,0,0,28,28,1.470899,0.899471,1.026316,1.486842,2017-08-11,0,0,0,1
20140,2017-08-19,Congo,Congo,1,1,0,28,28,1.463158,0.894737,1.021834,1.480349,2017-08-19,0,0,0,1
20287,2017-10-05,Iraq,Kenya,2,1,0,88,88,1.870229,0.854962,0.783582,1.335821,2017-10-05,0,1,0,0
21291,2018-11-18,Congo,Congo,1,1,0,46,46,1.462687,0.915423,1.021008,1.474790,2018-11-18,0,0,1,0
21596,2019-06-06,Bermuda,Guyana,1,0,0,175,175,1.658537,1.512195,1.098039,1.941176,2019-06-06,0,1,0,0
21815,2019-07-08,Mali,Ivory Coast,0,1,1,62,62,1.555556,0.841270,1.272189,1.065089,2019-07-08,0,0,0,1
21978,2019-09-08,St. Vincent and the Grenadines,Dominica,1,0,0,176,176,2.066667,1.166667,1.155556,2.155556,2019-09-08,0,0,0,1
22008,2019-09-10,Oman,Lebanon,1,0,0,87,87,1.460526,0.894737,0.889908,1.614679,2019-09-10,0,1,0,0
22478,2020-09-06,Serbia,Turkey,0,0,0,29,29,1.868852,1.065574,1.320513,1.102564,2020-09-06,0,0,0,1
22561,2020-10-11,Russia,Turkey,1,1,0,32,32,1.938356,0.876712,1.322785,1.107595,2020-10-11,0,0,0,1