In [57]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [32]:
df = pd.read_csv('./data/cleaned_results_and_rankings.csv')
df.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,home_rank,away_rank,datetime
0,1993-01-01,Ghana,Mali,1,1,Friendly,Libreville,Gabon,1,39,69,1993-01-01
1,1993-01-02,Gabon,Burkina Faso,1,1,Friendly,Libreville,Gabon,0,55,97,1993-01-02
2,1993-01-02,Kuwait,Lebanon,2,0,Friendly,Kuwait City,Kuwait,0,71,161,1993-01-02
3,1993-01-03,Burkina Faso,Mali,1,0,Friendly,Libreville,Gabon,1,97,69,1993-01-03
4,1993-01-03,Gabon,Ghana,2,3,Friendly,Libreville,Gabon,0,55,39,1993-01-03

In [33]:
df.shape

(23825, 12)

In [60]:
df.describe()

         home_score    away_score       neutral     home_rank     away_rank
count  23825.000000  23825.000000  23825.000000  23825.000000  23825.000000
mean       1.611333      1.070430      0.247303     77.519916     80.361511
std        1.632868      1.265266      0.431454     52.090283     53.014777
min        0.000000      0.000000      0.000000      1.000000      1.000000
25%        0.000000      0.000000      0.000000     33.000000     36.000000
50%        1.000000      1.000000      0.000000     71.000000     73.000000
75%        2.000000      2.000000      0.000000    115.000000    118.000000
max       31.000000     21.000000      1.000000    211.000000    211.000000

In [34]:
df['home_score'].value_counts()

1     7207
0     6238
2     5234
3     2614
4     1314
5      579
6      297
7      145
8       87
9       41
10      24
11      12
12       9
13       6
14       6
15       3
16       3
19       2
17       2
22       1
31       1
Name: home_score, dtype: int64

In [35]:
df[df['home_score'] > 10]

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,home_rank,away_rank,datetime
2810,1997-06-04,Syria,Maldives,12,0,FIFA World Cup qualification,Damascus,Syria,0,115,179,1997-06-04
2857,1997-06-11,Australia,Solomon Islands,13,0,FIFA World Cup qualification,Sydney,Australia,0,34,139,1997-06-11
3437,1998-04-15,Grenada,Anguilla,14,1,CFU Caribbean Cup qualification,St. John's,Antigua and Barbuda,1,110,190,1998-04-15
3443,1998-04-19,Guyana,Anguilla,14,0,CFU Caribbean Cup qualification,St. John's,Antigua and Barbuda,1,169,190,1998-04-19
3776,1998-09-28,Australia,Cook Islands,16,0,Oceania Nations Cup,Brisbane,Australia,0,36,193,1998-09-28
4614,2000-01-23,Vietnam,Guam,11,0,AFC Asian Cup qualification,Hanoi,Vietnam,0,102,200,2000-01-23
4620,2000-01-26,China PR,Guam,19,0,AFC Asian Cup qualification,Hanoi,Vietnam,1,88,200,2000-01-26
5151,2000-06-19,Australia,Cook Islands,17,0,Oceania Nations Cup,Papeete,French Polynesia,1,92,189,2000-06-19
5566,2000-11-24,Iran,Guam,19,0,FIFA World Cup qualification,Tabriz,Iran,0,40,201,2000-11-24
5569,2000-11-26,Tajikistan,Guam,16,0,FIFA World Cup qualification,Tabriz,Iran,1,142,201,2000-11-26
5870,2001-04-07,Fiji,American Samoa,13,0,FIFA World Cup qualification,Coffs Harbour,Australia,1,133,203,2001-04-07
5883,2001-04-09,Australia,Tonga,22,0,FIFA World Cup qualification,Coffs Harbour,Australia,0,76,185,2001-04-09
5884,2001-04-10,Haiti,US Virgin Islands,12,1,CFU Caribbean Cup qualification,Port-au-Prince,Haiti,0,88,198,2001-04-10
5885,2001-04-11,Australia,American Samoa,31,0,FIFA World Cup qualification,Coffs Harbour,Australia,0,77,203,2001-04-11
5896,2001-04-14,St. Lucia,US Virgin Islands,14,1,CFU Caribbean Cup qualification,Port-au-Prince,Haiti,1,134,198,2001-04-14
5899,2001-04-16,Australia,Samoa,11,0,FIFA World Cup qualification,Coffs Harbour,Australia,0,77,174,2001-04-16
5968,2001-04-30,Oman,Laos,12,0,FIFA World Cup qualification,Muscat,Oman,0,100,169,2001-04-30
5969,2001-04-30,Syria,Philippines,12,0,FIFA World Cup qualification,Aleppo,Syria,0,104,181,2001-04-30
5991,2001-05-07,Syria,Laos,11,0,FIFA World Cup qualification,Aleppo,Syria,0,104,169,2001-05-07
7219,2002-12-23,Indonesia,Philippines,13,1,AFF Championship,Jakarta,Indonesia,0,110,181,2002-12-23
7336,2003-03-02,Hong Kong,Guam,11,0,EAFF Championship,So Kon Po,Hong Kong,0,154,200,2003-03-02
7844,2003-09-29,South Korea,Nepal,16,0,AFC Asian Cup qualification,Incheon,South Korea,0,39,164,2003-09-29
8037,2003-11-19,Turkmenistan,Afghanistan,11,0,FIFA World Cup qualification,Ashgabat,Turkmenistan,0,122,198,2003-11-19
8056,2003-12-03,Maldives,Mongolia,12,0,FIFA World Cup qualification,Malé,Maldives,0,149,180,2003-12-03
8239,2004-02-29,Bermuda,Montserrat,13,0,FIFA World Cup qualification,Hamilton,Bermuda,0,179,204,2004-02-29
8382,2004-05-15,Fiji,American Samoa,11,0,FIFA World Cup qualification,Apia,Samoa,1,149,203,2004-05-15
9031,2004-11-24,Haiti,US Virgin Islands,11,0,CFU Caribbean Cup qualification,Kingston,Jamaica,1,98,199,2004-11-24
9034,2004-11-26,Jamaica,US Virgin Islands,11,1,CFU Caribbean Cup qualification,Montego Bay,Jamaica,0,53,199,2004-11-26
10029,2006-04-01,Palestine,Guam,11,0,AFC Challenge Cup,Dhaka,Bangladesh,1,121,204,2006-04-01
10663,2007-01-15,Singapore,Laos,11,0,AFF Championship,Singapore,Singapore,0,111,151,2007-01-15
11029,2007-06-21,Hong Kong,Guam,15,1,EAFF Championship,Macau,Macau,1,115,199,2007-06-21
11191,2007-08-25,Solomon Islands,American Samoa,12,1,South Pacific Games,Apia,Samoa,1,161,199,2007-08-25
11647,2008-02-06,El Salvador,Anguilla,12,0,FIFA World Cup qualification,San Salvador,El Salvador,0,135,198,2008-02-06
13094,2009-08-27,Hong Kong,Guam,12,0,EAFF Championship,Kaohsiung,Taiwan,1,134,187,2009-08-27
14068,2010-10-14,Dominican Republic,British Virgin Islands,17,0,CFU Caribbean Cup qualification,San Cristóbal,Dominican Republic,0,181,188,2010-10-14
14834,2011-09-02,Netherlands,San Marino,11,0,UEFA Euro qualification,Eindhoven,Netherlands,0,1,203,2011-09-02
18428,2015-09-03,Qatar,Bhutan,15,0,FIFA World Cup qualification,Doha,Qatar,0,94,164,2015-09-03
18712,2015-11-12,China PR,Bhutan,12,0,FIFA World Cup qualification,Changsha,China PR,0,84,180,2015-11-12
19907,2017-03-28,Oman,Bhutan,14,0,AFC Asian Cup qualification,Muscat,Oman,0,122,177,2017-03-28
21067,2018-09-08,Cuba,Turks and Caicos Islands,11,0,CONCACAF Nations League qualification,Havana,Cuba,0,181,206,2018-09-08
21893,2019-07-15,Solomon Islands,American Samoa,13,0,Pacific Games,Apia,Samoa,1,140,190,2019-07-15
22166,2019-10-10,Iran,Cambodia,14,0,FIFA World Cup qualification,Tehran,Iran,0,23,169,2019-10-10
22310,2019-11-10,Trinidad and Tobago,Anguilla,15,0,Friendly,Couva,Trinidad and Tobago,0,102,209,2019-11-10
22959,2021-03-30,Japan,Mongolia,14,0,FIFA World Cup qualification,Chiba,Japan,0,27,190,2021-03-30
23079,2021-06-05,Panama,Anguilla,13,0,FIFA World Cup qualification,Panama City,Panama,0,78,209,2021-06-05

In [36]:
df['away_score'].value_counts()

0     9498
1     7740
2     3995
3     1553
4      593
5      213
6      106
7       68
8       29
10      10
9        9
11       3
12       2
15       2
21       1
17       1
13       1
14       1
Name: away_score, dtype: int64

In [37]:
df[df['away_score'] > 10].shape

(11, 12)

In [40]:
averages = df.groupby('home_team').mean()
CONCACAF = averages.loc[['Canada', 'Costa Rica', 'El Salvador', 'Honduras', 'Jamaica', 'Panama', 'Mexico', 'United States']]
CONCACAF

               home_score  away_score   neutral  home_rank  away_rank
home_team
Canada           1.436364    0.836364  0.309091  76.372727  66.800000
Costa Rica       1.767568    0.870270  0.367568  45.389189  66.167568
El Salvador      1.280000    1.154286  0.537143  89.868571  81.382857
Honduras         1.657754    1.032086  0.427807  53.967914  70.625668
Jamaica          1.629213    0.859551  0.292135  58.988764  77.539326
Panama           1.597122    0.827338  0.194245  82.028777  78.316547
Mexico           1.879747    0.860759  0.651899  15.044304  47.737342
United States    1.823529    0.857585  0.071207  23.037152  46.814241

In [58]:
averages['home_rank'].sort_values()

home_team
Brazil                        3.462185
Spain                         5.497354
Germany                       6.848624
Argentina                     6.932642
France                        8.319635
                               ...
Montserrat                  195.875000
Gibraltar                   198.050000
American Samoa              200.000000
Turks and Caicos Islands    200.125000
Anguilla                    203.750000
Name: home_rank, Length: 211, dtype: float64

In [59]:
averages['away_rank'].sort_values()

home_team
Brazil             34.865546
Argentina          37.326425
France             38.187215
England            38.958549
Colombia           40.105882
                     ...
Cook Islands      170.888889
Anguilla          173.250000
American Samoa    178.294118
Samoa             181.409091
Tonga             183.142857
Name: away_rank, Length: 211, dtype: float64

In [55]:
df[(df['home_team'].isin(CONCACAF.index) == True) | (df['away_team'].isin(CONCACAF.index))]

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,home_rank,away_rank,datetime
25,1993-01-20,Italy,Mexico,2,0,Friendly,Florence,Italy,0,2,25,1993-01-20
35,1993-01-27,Peru,Honduras,1,1,Friendly,Lima,Peru,0,78,40,1993-01-27
36,1993-01-27,Spain,Mexico,1,1,Friendly,Las Palmas,Spain,0,15,25,1993-01-27
38,1993-01-29,Bolivia,Honduras,3,1,Friendly,Cochabamba,Bolivia,0,87,40,1993-01-29
42,1993-01-30,United States,Denmark,2,2,Friendly,Tempe,United States,0,24,9,1993-01-30
...,...,...,...,...,...,...,...,...,...,...,...,...
23726,2021-11-12,United States,Mexico,2,0,FIFA World Cup qualification,Cincinnati,United States,0,164,9,2021-11-12
23809,2021-11-16,Jamaica,United States,1,1,FIFA World Cup qualification,Kingston,Jamaica,0,59,164,2021-11-16
23810,2021-11-16,Canada,Mexico,2,1,FIFA World Cup qualification,Edmonton,Canada,0,48,9,2021-11-16
23811,2021-11-16,Costa Rica,Honduras,2,1,FIFA World Cup qualification,San José,Costa Rica,0,45,68,2021-11-16
23812,2021-11-16,Panama,El Salvador,2,1,FIFA World Cup qualification,Panama City,Panama,0,69,65,2021-11-16