In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn import metrics

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.regularizers import l2
from tensorflow.keras.layers import Dropout
from tensorflow.keras.callbacks import EarlyStopping

---

## Model for Predicting Home Score

In [2]:
df = pd.read_csv('./data/cleaned_results_and_rankings.csv')
df.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,home_rank,away_rank,datetime
0,1993-01-01,Ghana,Mali,1,1,Friendly,Libreville,Gabon,1,39,69,1993-01-01
1,1993-01-02,Gabon,Burkina Faso,1,1,Friendly,Libreville,Gabon,0,55,97,1993-01-02
2,1993-01-02,Kuwait,Lebanon,2,0,Friendly,Kuwait City,Kuwait,0,71,161,1993-01-02
3,1993-01-03,Burkina Faso,Mali,1,0,Friendly,Libreville,Gabon,1,97,69,1993-01-03
4,1993-01-03,Gabon,Ghana,2,3,Friendly,Libreville,Gabon,0,55,39,1993-01-03

In [3]:
features = ['neutral', 'home_rank', 'away_rank']
X = df[features]
y = df['home_score']

In [4]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [5]:
ss = StandardScaler()
ss.fit(X_train, y_train)
X_train_sc = ss.transform(X_train)
X_test_sc = ss.transform(X_test)