# Data Collection

In [1]:
import pandas as pd
import requests
import time
from bs4 import BeautifulSoup

---

### Results DF

In [2]:
results = pd.read_csv('./data/results.csv')
results.head()
# data from kaggle:  https://www.kaggle.com/martj42/international-football-results-from-1872-to-2017?select=results.csv

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4.0,2.0,Friendly,London,England,False
2,1874-03-07,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2.0,2.0,Friendly,London,England,False
4,1876-03-04,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False

In [3]:
results.shape

(43045, 9)

---

### Shootout DF

In [4]:
shootouts = pd.read_csv('./data/shootouts.csv')
shootouts.head()
# data from kaggle:  https://www.kaggle.com/martj42/international-football-results-from-1872-to-2017?select=results.csv

         date    home_team         away_team       winner
0   8/22/1967        India            Taiwan       Taiwan
1  11/14/1971  South Korea  Vietnam Republic  South Korea
2   5/17/1972     Thailand       South Korea  South Korea
3   5/19/1972     Thailand          Cambodia     Thailand
4   7/26/1973     Malaysia            Kuwait     Malaysia

In [5]:
shootouts.shape

(432, 4)

---

### Upcoming Fixtures DF

---

### Current Table DF

In [24]:
url = 'https://www.fifa.com/tournaments/mens/worldcup/qatar2022/qualifiers/concacaf'
res = requests.get(url)

In [25]:
res.status_code

200

In [26]:
soup = BeautifulSoup(res.content, 'lxml')

In [27]:
table = soup.find('table')

In [32]:
teams = []    
for a in soup.find_all("div", {"class": "fp-group-card_groupsTable__1cbWY"}):
    team = {}
    for row in a.find_all('tr')[1:-1]:
        team = {}
        team['name'] = row.find_all('td')[0].img.get('alt')
        team['matches_played'] = row.find_all('td')[1].text
        team['wins'] = row.find_all('td')[2].text
        team['draws'] = row.find_all('td')[3].text
        team['losses'] = row.find_all('td')[4].text
        team['goals_for'] = row.find_all('td')[5].text
        team['goals_against'] = row.find_all('td')[6].text
        team['goal_diff'] = row.find_all('td')[7].text
        team['points'] = row.find_all('td')[8].text
        
        teams.append(team)

teams

[{'name': 'El Salvador',
  'matches_played': '4',
  'wins': '3',
  'draws': '1',
  'losses': '0',
  'goals_for': '13',
  'goals_against': '1',
  'goal_diff': '12',
  'points': '10'},
 {'name': 'Montserrat',
  'matches_played': '4',
  'wins': '2',
  'draws': '2',
  'losses': '0',
  'goals_for': '9',
  'goals_against': '4',
  'goal_diff': '5',
  'points': '8'},
 {'name': 'Antigua and Barbuda',
  'matches_played': '4',
  'wins': '2',
  'draws': '1',
  'losses': '1',
  'goals_for': '6',
  'goals_against': '5',
  'goal_diff': '1',
  'points': '7'},
 {'name': 'Grenada',
  'matches_played': '4',
  'wins': '1',
  'draws': '0',
  'losses': '3',
  'goals_for': '2',
  'goals_against': '5',
  'goal_diff': '-3',
  'points': '3'},
 {'name': 'US Virgin Islands',
  'matches_played': '4',
  'wins': '0',
  'draws': '0',
  'losses': '4',
  'goals_for': '0',
  'goals_against': '15',
  'goal_diff': '-15',
  'points': '0'},
 {'name': 'Canada',
  'matches_played': '4',
  'wins': '4',
  'draws': '0',
  'losses': '0',
  'goals_for': '27',
  'goals_against': '1',
  'goal_diff': '26',
  'points': '12'},
 {'name': 'Suriname',
  'matches_played': '4',
  'wins': '3',
  'draws': '0',
  'losses': '1',
  'goals_for': '15',
  'goals_against': '4',
  'goal_diff': '11',
  'points': '9'},
 {'name': 'Bermuda',
  'matches_played': '4',
  'wins': '1',
  'draws': '1',
  'losses': '2',
  'goals_for': '7',
  'goals_against': '12',
  'goal_diff': '-5',
  'points': '4'},
 {'name': 'Aruba',
  'matches_played': '4',
  'wins': '1',
  'draws': '0',
  'losses': '3',
  'goals_for': '3',
  'goals_against': '19',
  'goal_diff': '-16',
  'points': '3'},
 {'name': 'Cayman Islands',
  'matches_played': '4',
  'wins': '0',
  'draws': '1',
  'losses': '3',
  'goals_for': '2',
  'goals_against': '18',
  'goal_diff': '-16',
  'points': '1'},
 {'name': 'Cura√ßao',
  'matches_played': '4',
  'wins': '3',
  'draws': '1',
  'losses': '0',
  'goals_for': '15',
  'goals_against': '1',
  'goal_diff': '14',
  'points': '10'},
 {'name': 'Guatemala',
  'matches_played': '4',
  'wins': '3',
  'draws': '1',
  'losses': '0',
  'goals_for': '14',
  'goals_against': '0',
  'goal_diff': '14',
  'points': '10'},
 {'name': 'Cuba',
  'matches_played': '4',
  'wins': '2',
  'draws': '0',
  'losses': '2',
  'goals_for': '7',
  'goals_against': '3',
  'goal_diff': '4',
  'points': '6'},
 {'name': 'St. Vincent / Grenadines',
  'matches_played': '4',
  'wins': '1',
  'draws': '0',
  'losses': '3',
  'goals_for': '3',
  'goals_against': '16',
  'goal_diff': '-13',
  'points': '3'},
 {'name': 'British Virgin Islands',
  'matches_played': '4',
  'wins': '0',
  'draws': '0',
  'losses': '4',
  'goals_for': '0',
  'goals_against': '19',
  'goal_diff': '-19',
  'points': '0'},
 {'name': 'Panama',
  'matches_played': '4',
  'wins': '4',
  'draws': '0',
  'losses': '0',
  'goals_for': '19',
  'goals_against': '1',
  'goal_diff': '18',
  'points': '12'},
 {'name': 'Dominican Republic',
  'matches_played': '4',
  'wins': '2',
  'draws': '1',
  'losses': '1',
  'goals_for': '8',
  'goals_against': '4',
  'goal_diff': '4',
  'points': '7'},
 {'name': 'Barbados',
  'matches_played': '4',
  'wins': '1',
  'draws': '2',
  'losses': '1',
  'goals_for': '3',
  'goals_against': '3',
  'goal_diff': '0',
  'points': '5'},
 {'name': 'Dominica',
  'matches_played': '4',
  'wins': '1',
  'draws': '1',
  'losses': '2',
  'goals_for': '5',
  'goals_against': '4',
  'goal_diff': '1',
  'points': '4'},
 {'name': 'Anguilla',
  'matches_played': '4',
  'wins': '0',
  'draws': '0',
  'losses': '4',
  'goals_for': '0',
  'goals_against': '23',
  'goal_diff': '-23',
  'points': '0'},
 {'name': 'Haiti',
  'matches_played': '3',
  'wins': '3',
  'draws': '0',
  'losses': '0',
  'goals_for': '13',
  'goals_against': '0',
  'goal_diff': '13',
  'points': '9'},
 {'name': 'Nicaragua',
  'matches_played': '3',
  'wins': '2',
  'draws': '0',
  'losses': '1',
  'goals_for': '10',
  'goals_against': '1',
  'goal_diff': '9',
  'points': '6'},
 {'name': 'Belize',
  'matches_played': '3',
  'wins': '1',
  'draws': '0',
  'losses': '2',
  'goals_for': '5',
  'goals_against': '5',
  'goal_diff': '0',
  'points': '3'},
 {'name': 'Turks and Caicos Islands',
  'matches_played': '3',
  'wins': '0',
  'draws': '0',
  'losses': '3',
  'goals_for': '0',
  'goals_against': '22',
  'goal_diff': '-22',
  'points': '0'},
 {'name': 'St. Kitts and Nevis',
  'matches_played': '4',
  'wins': '3',
  'draws': '0',
  'losses': '1',
  'goals_for': '8',
  'goals_against': '2',
  'goal_diff': '6',
  'points': '9'},
 {'name': 'Trinidad and Tobago',
  'matches_played': '4',
  'wins': '2',
  'draws': '2',
  'losses': '0',
  'goals_for': '6',
  'goals_against': '1',
  'goal_diff': '5',
  'points': '8'},
 {'name': 'Puerto Rico',
  'matches_played': '4',
  'wins': '2',
  'draws': '1',
  'losses': '1',
  'goals_for': '10',
  'goals_against': '2',
  'goal_diff': '8',
  'points': '7'},
 {'name': 'Guyana',
  'matches_played': '4',
  'wins': '1',
  'draws': '0',
  'losses': '3',
  'goals_for': '4',
  'goals_against': '8',
  'goal_diff': '-4',
  'points': '3'},
 {'name': 'Bahamas',
  'matches_played': '4',
  'wins': '0',
  'draws': '1',
  'losses': '3',
  'goals_for': '0',
  'goals_against': '15',
  'goal_diff': '-15',
  'points': '1'}]

---

### World Rankings DF

In [30]:
rankings = pd.read_csv('./data/fifa_ranking-2021-05-27.csv')
rankings.head()
# data from kaggle:  https://www.kaggle.com/cashncarry/fifaworldranking

,id,rank,country_full,country_abrv,total_points,previous_points,rank_change,confederation,rank_date
0,43818,82,Iraq,IRQ,15,0,0,AFC,1992-12-31
1,43873,107,Mozambique,MOZ,9,0,0,CAF,1992-12-31
2,43816,108,Indonesia,IDN,9,0,0,AFC,1992-12-31
3,1882218,109,Antigua and Barbuda,ATG,8,0,0,CONCACAF,1992-12-31
4,43820,110,Jordan,JOR,8,0,0,AFC,1992-12-31