In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import poisson

In [18]:
df = pd.read_csv('./data/cleaned_results_and_rankings.csv')
df.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,home_rank,away_rank,datetime
0,1993-01-01,Ghana,Mali,1,1,Friendly,Libreville,Gabon,1,39.0,69.0,1993-01-01
1,1993-01-02,Gabon,Burkina Faso,1,1,Friendly,Libreville,Gabon,0,55.0,97.0,1993-01-02
2,1993-01-02,Kuwait,Lebanon,2,0,Friendly,Kuwait City,Kuwait,0,71.0,161.0,1993-01-02
3,1993-01-03,Burkina Faso,Mali,1,0,Friendly,Libreville,Gabon,1,97.0,69.0,1993-01-03
4,1993-01-03,Gabon,Ghana,2,3,Friendly,Libreville,Gabon,0,55.0,39.0,1993-01-03

In [19]:
df.shape

(23769, 12)

In [20]:
df.describe()

         home_score    away_score       neutral     home_rank     away_rank
count  23769.000000  23769.000000  23769.000000  23769.000000  23769.000000
mean       1.589002      1.066263      0.247002     77.417182     80.144137
std        1.538220      1.234337      0.431277     52.045751     52.848422
min        0.000000      0.000000      0.000000      1.000000      1.000000
25%        0.000000      0.000000      0.000000     33.000000     36.000000
50%        1.000000      1.000000      0.000000     71.000000     73.000000
75%        2.000000      2.000000      0.000000    115.000000    118.000000
max       10.000000     10.000000      1.000000    211.000000    211.000000

In [21]:
df['home_score'].value_counts().sort_index()

0     6228
1     7206
2     5234
3     2614
4     1314
5      579
6      297
7      145
8       87
9       41
10      24
Name: home_score, dtype: int64

In [22]:
df[df['home_score'] > 10]

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score, tournament, city, country, neutral, home_rank, away_rank, datetime]
Index: []

In [23]:
df['away_score'].value_counts().sort_index()

0     9460
1     7733
2     3995
3     1553
4      593
5      213
6      106
7       68
8       29
9        9
10      10
Name: away_score, dtype: int64

In [24]:
df[df['away_score'] > 10].shape

(0, 12)

In [25]:
averages = df.groupby('home_team').mean()
CONCACAF = averages.loc[['Canada', 'Costa Rica', 'El Salvador', 'Honduras', 'Jamaica', 'Panama', 'Mexico', 'United States']]
CONCACAF

               home_score  away_score   neutral  home_rank  away_rank
home_team
Canada           1.436364    0.836364  0.309091  76.372727  66.800000
Costa Rica       1.767568    0.870270  0.367568  45.389189  66.167568
El Salvador      1.218391    1.160920  0.540230  89.609195  80.712644
Honduras         1.657754    1.032086  0.427807  53.967914  70.625668
Jamaica          1.576271    0.858757  0.293785  59.022599  76.853107
Panama           1.514493    0.833333  0.195652  82.057971  77.369565
Mexico           1.879747    0.860759  0.651899  15.044304  47.737342
United States    1.823529    0.857585  0.071207  23.037152  46.814241

In [32]:
CONCACAF['home_rank'].sort_values()

home_team
Mexico           15.044304
United States    23.037152
Costa Rica       45.389189
Honduras         53.967914
Jamaica          59.022599
Canada           76.372727
Panama           82.057971
El Salvador      89.609195
Name: home_rank, dtype: float64

In [33]:
CONCACAF['away_rank'].sort_values()

home_team
United States    46.814241
Mexico           47.737342
Costa Rica       66.167568
Canada           66.800000
Honduras         70.625668
Jamaica          76.853107
Panama           77.369565
El Salvador      80.712644
Name: away_rank, dtype: float64

In [34]:
CONCACAF['home_score'].sort_values(ascending=False)

home_team
Mexico           1.879747
United States    1.823529
Costa Rica       1.767568
Honduras         1.657754
Jamaica          1.576271
Panama           1.514493
Canada           1.436364
El Salvador      1.218391
Name: home_score, dtype: float64

In [35]:
CONCACAF['away_score'].sort_values(ascending=False)

home_team
El Salvador      1.160920
Honduras         1.032086
Costa Rica       0.870270
Mexico           0.860759
Jamaica          0.858757
United States    0.857585
Canada           0.836364
Panama           0.833333
Name: away_score, dtype: float64

In [29]:
df[(df['home_team'].isin(CONCACAF.index)) | (df['away_team'].isin(CONCACAF.index))]

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,home_rank,away_rank,datetime
25,1993-01-20,Italy,Mexico,2,0,Friendly,Florence,Italy,0,2.0,25.0,1993-01-20
35,1993-01-27,Peru,Honduras,1,1,Friendly,Lima,Peru,0,78.0,40.0,1993-01-27
36,1993-01-27,Spain,Mexico,1,1,Friendly,Las Palmas,Spain,0,15.0,25.0,1993-01-27
38,1993-01-29,Bolivia,Honduras,3,1,Friendly,Cochabamba,Bolivia,0,87.0,40.0,1993-01-29
42,1993-01-30,United States,Denmark,2,2,Friendly,Tempe,United States,0,24.0,9.0,1993-01-30
...,...,...,...,...,...,...,...,...,...,...,...,...
23670,2021-11-12,United States,Mexico,2,0,FIFA World Cup qualification,Cincinnati,United States,0,164.0,9.0,2021-11-12
23753,2021-11-16,Jamaica,United States,1,1,FIFA World Cup qualification,Kingston,Jamaica,0,59.0,164.0,2021-11-16
23754,2021-11-16,Canada,Mexico,2,1,FIFA World Cup qualification,Edmonton,Canada,0,48.0,9.0,2021-11-16
23755,2021-11-16,Costa Rica,Honduras,2,1,FIFA World Cup qualification,San José,Costa Rica,0,45.0,68.0,2021-11-16
23756,2021-11-16,Panama,El Salvador,2,1,FIFA World Cup qualification,Panama City,Panama,0,69.0,65.0,2021-11-16