In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('./data/cleaned_results_and_rankings.csv')
df.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,home_rank,away_rank,datetime
0,1993-01-01,Ghana,Mali,1,1,Friendly,Libreville,Gabon,1,39.0,69.0,1993-01-01
1,1993-01-02,Gabon,Burkina Faso,1,1,Friendly,Libreville,Gabon,0,55.0,97.0,1993-01-02
2,1993-01-02,Kuwait,Lebanon,2,0,Friendly,Kuwait City,Kuwait,0,71.0,161.0,1993-01-02
3,1993-01-03,Burkina Faso,Mali,1,0,Friendly,Libreville,Gabon,1,97.0,69.0,1993-01-03
4,1993-01-03,Gabon,Ghana,2,3,Friendly,Libreville,Gabon,0,55.0,39.0,1993-01-03

In [3]:
df.shape

(23769, 12)

In [4]:
df.describe()

         home_score    away_score       neutral     home_rank     away_rank
count  23769.000000  23769.000000  23769.000000  23769.000000  23769.000000
mean       1.589002      1.066263      0.247002     77.417182     80.144137
std        1.538220      1.234337      0.431277     52.045751     52.848422
min        0.000000      0.000000      0.000000      1.000000      1.000000
25%        0.000000      0.000000      0.000000     33.000000     36.000000
50%        1.000000      1.000000      0.000000     71.000000     73.000000
75%        2.000000      2.000000      0.000000    115.000000    118.000000
max       10.000000     10.000000      1.000000    211.000000    211.000000

In [5]:
df['home_score'].value_counts().sort_index()

0     6228
1     7206
2     5234
3     2614
4     1314
5      579
6      297
7      145
8       87
9       41
10      24
Name: home_score, dtype: int64

In [6]:
df[df['home_score'] > 10]

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score, tournament, city, country, neutral, home_rank, away_rank, datetime]
Index: []

In [7]:
df['away_score'].value_counts().sort_index()

0     9460
1     7733
2     3995
3     1553
4      593
5      213
6      106
7       68
8       29
9        9
10      10
Name: away_score, dtype: int64

In [8]:
df[df['away_score'] > 10].shape

(0, 12)

In [20]:
home_averages = df.groupby('home_team').mean()
CONCACAF_homegames = home_averages.loc[['Canada', 'Costa Rica', 'El Salvador', 'Honduras', 'Jamaica', 'Panama', 'Mexico', 'United States']]
CONCACAF_homegames

               home_score  away_score   neutral  home_rank  away_rank
home_team
Canada           1.436364    0.836364  0.309091  76.372727  66.800000
Costa Rica       1.767568    0.870270  0.367568  45.389189  66.167568
El Salvador      1.218391    1.160920  0.540230  89.609195  80.712644
Honduras         1.657754    1.032086  0.427807  53.967914  70.625668
Jamaica          1.576271    0.858757  0.293785  59.022599  76.853107
Panama           1.514493    0.833333  0.195652  82.057971  77.369565
Mexico           1.879747    0.860759  0.651899  15.044304  47.737342
United States    1.823529    0.857585  0.071207  23.037152  46.814241

In [26]:
home_goals_for = CONCACAF_homegames['home_score'].sort_values(ascending=False)
home_goals_for

home_team
Mexico           1.879747
United States    1.823529
Costa Rica       1.767568
Honduras         1.657754
Jamaica          1.576271
Panama           1.514493
Canada           1.436364
El Salvador      1.218391
Name: home_score, dtype: float64

In [27]:
home_goals_against = CONCACAF_homegames['away_score'].sort_values(ascending=False)
home_goals_against

home_team
El Salvador      1.160920
Honduras         1.032086
Costa Rica       0.870270
Mexico           0.860759
Jamaica          0.858757
United States    0.857585
Canada           0.836364
Panama           0.833333
Name: away_score, dtype: float64

In [25]:
away_averages = df.groupby('away_team').mean()
CONCACAF_awaygames = away_averages.loc[['Canada', 'Costa Rica', 'El Salvador', 'Honduras', 'Jamaica', 'Panama', 'Mexico', 'United States']]
CONCACAF_awaygames

               home_score  away_score   neutral  home_rank  away_rank
away_team
Canada           1.578125    1.117188  0.312500  64.492188  78.078125
Costa Rica       1.466063    1.067873  0.271493  51.235294  43.248869
El Salvador      1.788732    0.823944  0.323944  70.373239  91.901408
Honduras         1.527778    1.250000  0.344444  59.866667  54.755556
Jamaica          1.469697    1.045455  0.267677  71.237374  54.676768
Panama           1.700565    0.858757  0.265537  58.158192  82.429379
Mexico           1.239234    1.440191  0.425837  41.588517  14.947368
United States    1.320261    1.143791  0.189542  44.189542  23.196078

In [28]:
away_goals_for = CONCACAF_awaygames['away_score'].sort_values(ascending=False)
away_goals_for

away_team
Mexico           1.440191
Honduras         1.250000
United States    1.143791
Canada           1.117188
Costa Rica       1.067873
Jamaica          1.045455
Panama           0.858757
El Salvador      0.823944
Name: away_score, dtype: float64

In [29]:
away_goals_against = CONCACAF_awaygames['home_score'].sort_values(ascending=False)
away_goals_against

away_team
El Salvador      1.788732
Panama           1.700565
Canada           1.578125
Honduras         1.527778
Jamaica          1.469697
Costa Rica       1.466063
United States    1.320261
Mexico           1.239234
Name: home_score, dtype: float64

In [30]:
# For df - need to write function to average home_goals_for, home_goals_against, away_goals_for, and away_goals_against up to that game