In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [26]:
df = pd.read_csv('./data/cleaned_results_and_rankings.csv')
df.head()

,date,home_team,away_team,home_score,away_score,neutral,home_rank,away_rank,h_goals_for_avg,h_goals_against_avg,a_goals_for_avg,a_goals_against_avg,datetime,match_type_FIFA_WCQ,match_type_Friendly,match_type_Qualifier,match_type_Tournament/Cup_Match
0,1993-01-01,Ghana,Mali,1,1,1,39,69,0.0,0.0,0.0,0.0,1993-01-01,0,1,0,0
1,1993-01-02,Gabon,Burkina Faso,1,1,0,55,97,0.0,0.0,0.0,0.0,1993-01-02,0,1,0,0
2,1993-01-02,Kuwait,Lebanon,2,0,0,71,161,0.0,0.0,0.0,0.0,1993-01-02,0,1,0,0
3,1993-01-03,Burkina Faso,Mali,1,0,1,97,69,0.0,0.0,1.0,1.0,1993-01-03,0,1,0,0
4,1993-01-03,Gabon,Ghana,2,3,0,55,39,1.0,1.0,0.0,0.0,1993-01-03,0,1,0,0

In [27]:
df.shape

(23244, 17)

In [28]:
df.describe()

,home_score,away_score,neutral,home_rank,away_rank,h_goals_for_avg,h_goals_against_avg,a_goals_for_avg,a_goals_against_avg,match_type_FIFA_WCQ,match_type_Friendly,match_type_Qualifier,match_type_Tournament/Cup_Match
count,23244.000000,23244.000000,23244.000000,23244.000000,23244.000000,23244.000000,23244.000000,23244.000000,23244.000000,23244.000000,23244.000000,23244.000000,23244.000000
mean,1.590475,1.064963,0.248365,77.181638,79.876183,1.595488,1.078583,1.040356,1.652996,0.224316,0.365299,0.174454,0.217346
std,1.537115,1.233276,0.432074,51.946942,52.744255,0.533159,0.534971,0.407865,0.777119,0.417140,0.481524,0.379507,0.412449
min,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,33.000000,36.000000,1.333333,0.787879,0.794872,1.200000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,1.000000,0.000000,70.000000,72.000000,1.615385,0.973684,1.026316,1.500000,0.000000,0.000000,0.000000,0.000000
75%,2.000000,2.000000,0.000000,115.000000,118.000000,1.890625,1.227273,1.270516,1.909091,0.000000,1.000000,0.000000,0.000000
max,10.000000,10.000000,1.000000,211.000000,211.000000,9.000000,7.000000,7.000000,22.000000,1.000000,1.000000,1.000000,1.000000

In [29]:
df['home_score'].value_counts().sort_index()

0     6075
1     7043
2     5129
3     2567
4     1286
5      565
6      291
7      140
8       84
9       40
10      24
Name: home_score, dtype: int64

In [30]:
df['away_score'].value_counts().sort_index()

0     9271
1     7539
2     3915
3     1519
4      574
5      209
6      105
7       66
8       28
9        9
10       9
Name: away_score, dtype: int64

In [31]:
df[df['away_score'] > 10].shape

(0, 17)

In [32]:
home_averages = df.groupby('home_team').mean()
CONCACAF_homegames = home_averages.loc[['Canada', 'Costa Rica', 'El Salvador', 'Honduras', 'Jamaica', 'Panama', 'Mexico', 'United States']]
CONCACAF_homegames

,home_score,away_score,neutral,home_rank,away_rank,h_goals_for_avg,h_goals_against_avg,a_goals_for_avg,a_goals_against_avg,match_type_FIFA_WCQ,match_type_Friendly,match_type_Qualifier,match_type_Tournament/Cup_Match
home_team,,,,,,,,,,,,,
Canada,1.400000,0.847619,0.323810,77.485714,67.609524,1.195309,1.017299,1.172294,1.573046,0.342857,0.438095,0.038095,0.180952
Costa Rica,1.779006,0.867403,0.375691,45.414365,66.569061,2.028925,0.855900,1.028482,1.676259,0.281768,0.337017,0.000000,0.348066
El Salvador,1.257485,1.173653,0.556886,90.652695,81.179641,1.274061,1.322136,0.994330,1.753583,0.239521,0.497006,0.017964,0.245509
Honduras,1.677596,1.005464,0.437158,53.743169,70.754098,1.791765,1.050666,0.942958,1.673491,0.240437,0.398907,0.000000,0.344262
Jamaica,1.583815,0.849711,0.300578,59.028902,76.526012,1.512334,0.754563,1.054436,1.666211,0.202312,0.456647,0.069364,0.265896
Panama,1.529851,0.843284,0.201493,82.380597,77.246269,1.538098,0.782758,1.018594,1.755547,0.291045,0.410448,0.014925,0.276119
Mexico,1.878205,0.855769,0.657051,15.121795,47.647436,2.002171,0.888406,1.075065,1.464133,0.157051,0.512821,0.000000,0.298077
United States,1.737463,1.082596,0.073746,21.011799,52.345133,1.562996,1.019597,1.146405,1.464260,0.171091,0.439528,0.017699,0.339233

In [33]:
home_goals_for = CONCACAF_homegames['home_score'].sort_values(ascending=False)
home_goals_for

home_team
Mexico           1.878205
Costa Rica       1.779006
United States    1.737463
Honduras         1.677596
Jamaica          1.583815
Panama           1.529851
Canada           1.400000
El Salvador      1.257485
Name: home_score, dtype: float64

In [34]:
home_goals_against = CONCACAF_homegames['away_score'].sort_values(ascending=False)
home_goals_against

home_team
El Salvador      1.173653
United States    1.082596
Honduras         1.005464
Costa Rica       0.867403
Mexico           0.855769
Jamaica          0.849711
Canada           0.847619
Panama           0.843284
Name: away_score, dtype: float64

In [35]:
away_averages = df.groupby('away_team').mean()
CONCACAF_awaygames = away_averages.loc[['Canada', 'Costa Rica', 'El Salvador', 'Honduras', 'Jamaica', 'Panama', 'Mexico', 'United States']]
CONCACAF_awaygames

,home_score,away_score,neutral,home_rank,away_rank,h_goals_for_avg,h_goals_against_avg,a_goals_for_avg,a_goals_against_avg,match_type_FIFA_WCQ,match_type_Friendly,match_type_Qualifier,match_type_Tournament/Cup_Match
away_team,,,,,,,,,,,,,
Canada,1.600000,1.128000,0.320000,63.384000,78.664000,1.713915,1.028548,0.915031,1.833778,0.248000,0.488000,0.016000,0.248000
Costa Rica,1.479263,1.082949,0.276498,50.368664,43.230415,1.723534,0.928228,1.075264,1.487348,0.230415,0.423963,0.000000,0.308756
El Salvador,1.776978,0.827338,0.330935,69.309353,92.489209,1.712569,1.080342,0.592299,2.044946,0.287770,0.294964,0.028777,0.388489
Honduras,1.528409,1.267045,0.352273,60.221591,54.539773,1.672919,0.995128,1.304925,1.593379,0.238636,0.471591,0.005682,0.267045
Jamaica,1.476684,1.046632,0.274611,70.875648,54.658031,1.755484,1.074785,1.095306,1.581845,0.165803,0.533679,0.036269,0.253886
Panama,1.699422,0.838150,0.271676,58.150289,82.722543,1.704352,0.996283,0.798825,1.807594,0.219653,0.445087,0.005780,0.317919
Mexico,1.245098,1.450980,0.436275,40.602941,15.093137,1.776142,0.908144,1.364485,1.277304,0.254902,0.279412,0.000000,0.377451
United States,1.670455,1.028409,0.176136,62.215909,20.426136,1.748721,1.014066,0.904400,1.654234,0.335227,0.443182,0.039773,0.119318

In [36]:
away_goals_for = CONCACAF_awaygames['away_score'].sort_values(ascending=False)
away_goals_for

away_team
Mexico           1.450980
Honduras         1.267045
Canada           1.128000
Costa Rica       1.082949
Jamaica          1.046632
United States    1.028409
Panama           0.838150
El Salvador      0.827338
Name: away_score, dtype: float64

In [37]:
away_goals_against = CONCACAF_awaygames['home_score'].sort_values(ascending=False)
away_goals_against

away_team
El Salvador      1.776978
Panama           1.699422
United States    1.670455
Canada           1.600000
Honduras         1.528409
Costa Rica       1.479263
Jamaica          1.476684
Mexico           1.245098
Name: home_score, dtype: float64

In [55]:
# win percentage of lower ranked teams
(df[(df['home_rank'] > df['away_rank']) & (df['home_score'] > df['away_score'])].index.nunique() + df[(df['away_rank'] > df['home_rank']) & (df['away_score'] > df['home_score'])].index.nunique()) / df.shape[0]

0.21386164171399072

In [52]:
# win percentage of higher ranked teams
(df[(df['home_rank'] < df['away_rank']) & (df['home_score'] > df['away_score'])].index.nunique() + df[(df['away_rank'] < df['home_rank']) & (df['away_score'] > df['home_score'])].index.nunique()) / df.shape[0]

0.5446997074513853

In [50]:
# percentage of draws
(df[(df['home_rank'] < df['away_rank']) & (df['home_score'] == df['away_score'])].index.nunique() + df[(df['away_rank'] < df['home_rank']) & (df['away_score'] == df['home_score'])].index.nunique()) / df.shape[0]

0.24006195147134746

In [54]:
df[df['home_rank'] == df['away_rank']]
# need to sort this out

,date,home_team,away_team,home_score,away_score,neutral,home_rank,away_rank,h_goals_for_avg,h_goals_against_avg,a_goals_for_avg,a_goals_against_avg,datetime,match_type_FIFA_WCQ,match_type_Friendly,match_type_Qualifier,match_type_Tournament/Cup_Match
8539,2004-07-08,Costa Rica,Paraguay,0,1,1,29,29,2.082192,0.917808,0.876404,1.280899,2004-07-08,0,0,0,1
8912,2004-11-17,Lebanon,Vietnam,0,0,0,109,109,1.419355,1.258065,1.551724,2.103448,2004-11-17,1,0,0,0
9513,2005-09-03,Northern Ireland,Azerbaijan,2,0,0,116,116,0.934783,1.521739,0.415094,2.509434,2005-09-03,1,0,0,0
9837,2006-02-06,Oman,Singapore,1,0,1,92,92,1.567308,1.048077,0.866667,1.533333,2006-02-06,0,1,0,0
10012,2006-05-28,Croatia,Iran,2,2,0,23,23,1.873016,0.793651,1.712500,1.112500,2006-05-28,0,1,0,0
10810,2007-06-02,Lithuania,Georgia,1,0,0,92,92,1.169492,1.338983,1.050000,1.933333,2007-06-02,0,0,1,0
11003,2007-07-17,New Caledonia,Vanuatu,5,3,0,175,175,0.000000,0.000000,1.566667,2.200000,2007-07-17,0,1,0,0
11168,2007-09-12,Colombia,Paraguay,1,0,0,31,31,1.634409,0.763441,0.887931,1.327586,2007-09-12,0,1,0,0
11821,2008-06-04,Panama,Canada,2,2,1,60,60,1.433333,0.900000,0.937500,1.750000,2008-06-04,0,1,0,0
12985,2009-08-26,India,Sri Lanka,3,1,0,156,156,1.383562,1.301370,0.777778,2.555556,2009-08-26,0,0,0,1
13327,2009-12-30,Qatar,North Korea,0,1,0,86,86,1.664122,1.053435,1.102941,1.264706,2009-12-30,0,1,0,0
13830,2010-09-25,Iraq,Yemen,2,1,1,107,107,2.369863,0.835616,0.912281,2.245614,2010-09-25,0,0,0,1
13974,2010-10-26,Puerto Rico,St. Kitts and Nevis,0,1,1,129,129,1.666667,1.111111,1.230769,2.179487,2010-10-26,0,0,1,0
14508,2011-06-29,Cambodia,Laos,4,2,0,174,174,1.258065,2.354839,0.611111,3.944444,2011-06-29,1,0,0,0
14522,2011-07-03,Laos,Cambodia,6,2,0,174,174,1.454545,2.409091,0.595238,3.904762,2011-07-03,1,0,0,0
15097,2011-11-26,Samoa,American Samoa,1,0,0,204,204,1.812500,2.062500,0.000000,5.600000,2011-11-26,0,0,1,0
15239,2012-02-29,El Salvador,Estonia,0,2,1,54,54,1.285714,1.268908,0.715447,2.073171,2012-02-29,0,1,0,0
15326,2012-05-22,Albania,Qatar,2,1,1,84,84,1.227848,1.075949,1.079208,1.396040,2012-05-22,0,1,0,0
15983,2012-11-25,Malaysia,Singapore,0,3,0,163,163,1.747573,1.213592,0.825581,1.569767,2012-11-25,0,0,0,1
17014,2013-12-28,Bahrain,Iraq,0,0,1,110,110,1.546584,1.024845,1.225806,1.200000,2013-12-28,0,0,0,1
17197,2014-05-27,Tanzania,Malawi,1,0,0,122,122,1.173913,0.982609,0.910000,1.570000,2014-05-27,0,1,0,0
17573,2014-10-12,East Timor,Brunei,4,2,1,193,193,1.500000,3.250000,0.652174,2.739130,2014-10-12,0,0,0,1
17805,2014-12-30,United Arab Emirates,Jordan,1,0,1,81,81,1.576087,1.228261,1.065574,1.327869,2014-12-30,0,1,0,0
18279,2015-08-19,Fiji,Tonga,5,0,0,198,198,2.075000,1.025000,1.222222,2.833333,2015-08-19,0,1,0,0
19469,2016-11-05,East Timor,Nepal,0,0,1,186,186,1.083333,3.500000,0.745455,2.563636,2016-11-05,0,0,0,1
20230,2017-10-05,Iraq,Kenya,2,1,0,88,88,1.870229,0.854962,0.780303,1.340909,2017-10-05,0,1,0,0
21539,2019-06-06,Bermuda,Guyana,1,0,0,175,175,1.658537,1.512195,1.098039,1.941176,2019-06-06,0,1,0,0
21758,2019-07-08,Mali,Ivory Coast,0,1,1,62,62,1.568000,0.840000,1.272189,1.065089,2019-07-08,0,0,0,1
21921,2019-09-08,St. Vincent and the Grenadines,Dominica,1,0,0,176,176,2.066667,1.166667,1.155556,2.155556,2019-09-08,0,0,0,1
21951,2019-09-10,Oman,Lebanon,1,0,0,87,87,1.460526,0.894737,0.889908,1.614679,2019-09-10,0,1,0,0
22421,2020-09-06,Serbia,Turkey,0,0,0,29,29,1.868852,1.065574,1.320513,1.102564,2020-09-06,0,0,0,1
22504,2020-10-11,Russia,Turkey,1,1,0,32,32,1.938356,0.876712,1.322785,1.107595,2020-10-11,0,0,0,1